Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[engine] include lmi recommended entrypoint when model.py exists (#2148)
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[3p][python]add metering and error details to 3p outputs (#2143)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] upgrade vllm version to 0.5.1
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Supports temp repo in execute job
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Supports temp repo in execute job (#2150)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] refactor input parser to support Request
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/test_rb_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

Support multi node for lmi-dist
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Support multi node for lmi-dist (#2125)
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

minor fixes
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/tests/test_input_parser.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] refactor input parser to support Request (#2145)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/test_rb_vllm_utils.py
  engines/python/setup/djl_python/tests/test_input_parser.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[lmi] remove redundant auto logic from python handler
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix integration test failures
  engines/python/setup/djl_python/input_parser.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[unittest] remove incomplete unittest
  engines/python/setup/djl_python/tests/test_input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add max_logprobs vllm configuration to EngineArgs
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix integration test failures (#2153)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/tests/test_input_parser.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add max_logprobs vllm configuration to EngineArgs (#2154)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] parse only when new requests are received
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[python] parse input only when new requests are received (#2155)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[lmi] remove redundant auto logic from python handler (#2152)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] support multimodal models in vllm
  .github/workflows/integration.yml
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/multimodal/__init__.py
  engines/python/setup/djl_python/multimodal/utils.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/multimodal/test_parse_multimodal.py
  tests/integration/llm/openai_vision_client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[unittest] add assertions to unit test cases
  engines/python/setup/djl_python/multimodal/utils.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/multimodal/test_multimodal_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove llava tests
  .github/workflows/integration.yml
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/multimodal/test_multimodal_utils.py
  tests/integration/llm/openai_vision_client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] support multimodal models openai api in vllm (#2147)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/multimodal/__init__.py
  engines/python/setup/djl_python/multimodal/utils.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add tests for llava
  .github/workflows/integration.yml
  engines/python/setup/djl_python/multimodal/utils.py
  engines/python/setup/djl_python/tests/multimodal/test_multimodal_utils.py
  tests/integration/llm/openai_vision_client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add input formatter decorator
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add input formatter decorator
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] update max_logprobs default for vllm 0.5.1
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add pipeline for vlms
  .github/workflows/integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron to 2.19 SDK
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/token_selector.py
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fix pytorch download url
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][multimodal] Add stronger typing for chat completions use-cases
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/tests/test_chat_completions.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add stronger typing for chat completions use-cases (#2161)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/tests/test_chat_completions.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fixes slf4j version conflict
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fixes slf4j version conflict (#2164)
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates log4j for slf4j2
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Supports full jsonquery syntax
  awscurl/build.gradle.kts
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
  awscurl/src/main/java/ai/djl/awscurl/JsonUtils.java
  awscurl/src/main/java/ai/djl/awscurl/TokenUtils.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Supports full jsonquery syntax (#2163)
  awscurl/build.gradle.kts
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
  awscurl/src/main/java/ai/djl/awscurl/JsonUtils.java
  awscurl/src/main/java/ai/djl/awscurl/TokenUtils.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Python formatter
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Neo] Neo compilation/quantization script bugfixes (#2115)
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
