Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Update serving_publish.yml
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update serving_publish.yml
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create testoidc.yml
  testoidc.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create test.yml
  .github/workflows/test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create test.yml
  .github/workflows/test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create test.yml
  .github/workflows/test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create credentials_test
  .github/workflows/credentials_test
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create credentials_test.yml
  .github/workflows/credentials_test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add serving publish to repo
  .github/workflows/credentials_test
  .github/workflows/serving-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron version to 2.20.0 SDK
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron version to 2.20.0 SDK (#2438)
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update dependencies in lmi dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update chatglm doc
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker] update dependencies in lmi dockerfile (#2439)
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Ensure 'sampling_params' is not in LMI_DIST_GENERATION_PARAMS
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] Pass max_num_seqs param to lmi_dist
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[rolling-batch] Reset IdCounter every million requests instead of whenever there are no active requests
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neuron] update generation modelling
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_token_selector.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/token_selector.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[neuron] update dynamic and rb generation (#2444)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_token_selector.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/token_selector.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[lmi] Ensure 'sampling_params' is not in LMI_DIST_GENERATION_PARAMS (#2441)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[rolling-batch] Reset IdCounter every million requests instead of whe… (#2443)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] Pass max_num_seqs param to lmi_dist (#2442)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Decouple djl and serving in dockerfiles and gradle
  .github/workflows/docker-nightly-publish.yml
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][lmi-dist] Add pipeline-parallel support to lmi-dist, and use_passive_workers by default.
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix awscurl --delay option
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Change speculative_length default to 4
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix awscurl --delay option (#2446)
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] optimum token selector do sample defaults
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Decouple djl and serving in dockerfiles and gradle
  .github/workflows/docker-nightly-publish.yml
  serving/docker/aarch64.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] optimum token selector do sample defaults (#2448)
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Decouple djl and serving in dockerfiles and gradle and add serving publish to repo
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/serving-publish.yml
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Decouple djl and serving in dockerfiles and gradle and add serving publish (#2449)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/serving-publish.yml
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][wlm] improve the handling of peft models, and update lora test with valid model
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/rb_client.py
  tests/integration/tests.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][wlm] improve the handling of peft models, and update lora test … (#2450)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/rb_client.py
  tests/integration/tests.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Change speculative_length default to 4 (#2447)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docker] use index url instead of extra index url, cu124 for torch
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi-dist][breaking] remove default 4096 token number for prefill - a… (#2420)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  serving/docs/lmi/announcements/breaking_changes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docker] use index url instead of extra index url, cu124 for torch (#2451)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] forward compatibility for transformers_neuronx_scheduler
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[fix] forward compatibility for transformers_neuronx_scheduler (#2452)
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
Owners: @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
