Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Add trust remote code option in TRTLLM CI
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Fixes missing \"text\" case in jsonlines output
  awscurl/src/main/java/ai/djl/awscurl/JsonUtils.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Fixes missing \"text\" case in jsonlines output (#2135)
  awscurl/src/main/java/ai/djl/awscurl/JsonUtils.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] remove tensorflow native from cpu-full image
  serving/docker/Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] remove tensorflow native from cpu-full image (#2136)
  serving/docker/Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[3p] implement detection of streaming vs non streaming via custom header
  engines/python/setup/djl_python/bedrock/__init__.py
  engines/python/setup/djl_python/bedrock/bedrock_utils.py
  engines/python/setup/djl_python/utils.py
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Move update_dataset_cache_location to Neo utils
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Move properties file generation out of toolkit
  serving/docker/partition/sm_neo_trt_llm_partition.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Add Toolkit skip cleanup env vars for Neo
  serving/docker/partition/sm_neo_trt_llm_partition.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Refactor Neo TRTLLM partition script
  serving/docker/partition/sm_neo_trt_llm_partition.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Use existing utils func in TRTLLM partitions
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

add engine=MPI for Neo serving.properties generation
  serving/docker/partition/sm_neo_trt_llm_partition.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Fix acceptance history check in speculative telemetry
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Integration tests through pytest
  .github/workflows/integration.yml
  .github/workflows/llm_integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[WIP][CI] Action for manual pytest runs
  .github/workflows/integration.yml
  .github/workflows/integration_full.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[onnx] Allows to customize onnxruntime optimization level
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes cpu-full docker build script
  serving/docker/Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes cpu-full docker build script (#2138)
  serving/docker/Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[onnx] Allows to customize onnxruntime optimization level (#2137)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes pytorch-gpu docker build script
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[3p] implement input and output formatters
  engines/python/setup/djl_python/bedrock/bedrock_utils.py
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/__init__.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
  engines/python/setup/djl_python/utils.py
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes pytorch-gpu docker build script (#2139)
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add support for 3p use-case (#2122)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/__init__.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes docker -SNAPSHOT version build issue
  .github/workflows/docker-nightly-publish.yml
  serving/docker/Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes docker -SNAPSHOT version build issue (#2140)
  .github/workflows/docker-nightly-publish.yml
  serving/docker/Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix acceptance history check in speculative telemetry (#2112)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] move parse input functions to input_parser.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci] Adds formatShell gradle tasks
  build.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/shellFormatter.gradle.kts
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/scripts/docker_name_builder.sh
  serving/docker/scripts/install_inferentia2.sh
  serving/docker/scripts/pull_and_retag.sh
  serving/docker/scripts/security_patch.sh
  tests/integration/cpu_memory_monitor.sh
  tests/integration/launch_container.sh
  tests/integration/remove_container.sh
  tests/integration/test_client.sh
  tests/integration/test_telemetry.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci] Adds formatShell gradle tasks (#2141)
  build.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/shellFormatter.gradle.kts
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/scripts/docker_name_builder.sh
  serving/docker/scripts/install_inferentia2.sh
  serving/docker/scripts/pull_and_retag.sh
  serving/docker/scripts/security_patch.sh
  tests/integration/cpu_memory_monitor.sh
  tests/integration/launch_container.sh
  tests/integration/remove_container.sh
  tests/integration/test_client.sh
  tests/integration/test_telemetry.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] move parse input functions to input_parser.py (#2092)
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] log exception stacktrace for exceptions in python, improve returned error message on KeyErrors during parse input
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/sm_log_filter.py
  engines/python/setup/djl_python/streaming_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] log exception stacktrace for exceptions in python, improve r… (#2142)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/sm_log_filter.py
  engines/python/setup/djl_python/streaming_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[3p][python]add metering and error details to 3p outputs
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Integration tests through pytest (#2109)
  .github/workflows/integration.yml
  .github/workflows/llm_integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Action for manual pytest runs
  .github/workflows/integration_execute.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Fix new logprobs computation in vllm_utils
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Fix new logprobs computation in vllm_utils (#2146)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Action for manual pytest runs (#2144)
  .github/workflows/integration_execute.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[engine] include lmi recommended entrypoint when model.py exists
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

address review comments
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
