Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[lmi-dist] Update vllm_rb_properties.py to accommodate vllm 0.8.5 changes
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add tgi schema support
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/request_response_utils.py
  engines/python/setup/setup.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] Update vllm_rb_properties.py to accommodate vllm-0.8.5 changes
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python][async] adding async tensorrt-llm handler (#2785)
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[vllm] Update vllm_rb_properties.py to accommodate vllm-0.8.5 changes (#2822)
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update README.md to v0.33.0
  README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update benchmark/README.md to v0.33.0
  benchmark/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update serving/docker/README.md to v0.33.0
  serving/docker/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update docs to v0.33.0
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix broken Dependency test issue
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update docs to 0.33.0
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Revert "[python][async] adding async tensorrt-llm handler (#2785)"
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Revert "[python][async] adding async tensorrt-llm handler (#2785)" (#2827)
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[tests][lmi] use async mode for performance tests
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Revert "Revert "[python][async] adding async tensorrt-llm handler (#2785)""
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[tests][lmi] use async mode for performance tests (#2828)
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tests][lmi] use async mode for performance tests (#2828)
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fixes integration test issues for vllm performance tests. (#2830)
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add vllm_async_service as entrypoint to vllm performance handler test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add vllm_async_handler as entrypoint to VLLM async integration tests (#2831)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add vllm_async_service as entrypoint to vllm performance handle… (#2833)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Reapply "[python][async] adding async tensorrt-llm handler (#2785)" (#2827)
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Upgrade gradle to 8.14
  benchmark/build.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/javaFormatter.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  serving/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Upgrade gradle to 8.14 (#2836)
  benchmark/build.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/javaFormatter.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
  serving/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Uses new recommended way to build pip wheel
  .github/workflows/integration.yml
  .gitignore
  engines/python/build.gradle.kts
  engines/python/setup/README.rst
  engines/python/setup/pyproject.toml
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Uses new recommended way to build pip wheel (#2837)
  .github/workflows/integration.yml
  .gitignore
  engines/python/build.gradle.kts
  engines/python/setup/README.rst
  engines/python/setup/pyproject.toml
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] properly handle missing -jq case
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Promote SERVING_HEALTH_CHECK_OVERRIDE to mainline
  serving/src/main/java/ai/djl/serving/models/ModelManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[patch][port] forward port of SERVING_HEALTH_CHECK_OVERRIDE
  serving/src/main/java/ai/djl/serving/models/ModelManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] properly handle missing -jq case (#2838)
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[patch][port] forward port of SERVING_HEALTH_CHECK_OVERRIDE (#2839)
  serving/src/main/java/ai/djl/serving/models/ModelManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Promote SERVING_HEALTH_CHECK_OVERRIDE to mainline (#2840)
  serving/src/main/java/ai/djl/serving/models/ModelManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update docs to 0.33.0 (#2835)
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Add trtllm-async changes
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Revert "[trtllm] Add trtllm-async changes"
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Fix trtllm integration tests
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update lmi-container-requirements.txt
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

build: update vllm to 0.9.0.1
  engines/python/setup/pyproject.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.33.0-dlc][docker] Pin cuda-compat-12-8 to 570.148.08-0ubuntu1
  serving/docker/cuda-compat
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[0.33.0-dlc][docker] Pin cuda-compat-12-8 to 570.148.08-0ubuntu1 (#2842)
  serving/docker/cuda-compat
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners
