Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[fix][lmi] validate token exists in streaming output formatters to ha… (#2393)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] validate token exists in streaming output formatters to ha… (#2393)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] validate token exists in streaming output formatters to ha… (#2396)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] fix calib_size dtype bug
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Fix calib_size dtype bug (#2397)
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update with load model
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Fix calib_size dtype bug (#2397)
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick] [neo] Fix calib_size dtype bug (#2397) (#2398)
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Update lmi-list generation params after upgrading to vllm 0.5.5
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Update lmi-list generation params after upgrading to vllm 0.5.5 (#2399)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use nxd
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

use_nxd
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update test files for vllm options tests
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] prevent requests being sent to python model until model is full… (#2344)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] prevent requests being sent to python model until model is full… (#2400)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update vllm to 0.6.1.post2
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update vllm to 0.6.1.post2 (#2401)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Upgrade to DJL 0.30.0
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

bump up transformers version for llama 3.1 support (#2394)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Upgrade to DJL 0.30.0
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[fix][lmi][specdec] fix issue with json output formatter not returning output when iterator is behind
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update for neuron test updates
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi][specdec] fix issue with json output formatter not returnin… (#2403)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][lmi] remove output formatter from model configurations, test streaming/non-streaming on client side
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

support neuron sd test
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix sd test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

change to smaller files, sd test
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][lmi] remove output formatter from model configurations, test str… (#2404)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][lmi] remove output formatter from model configurations, test str… (#2404)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][lmi] remove output formatter from model configurations, test str… (#2404)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][lmi] remove output formatter from model configurations, test str… (#2406)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi][specdec] fix issue with json output formatter not returnin… (#2403)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi][specdec] fix issue with json output formatter not returnin… (#2407)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][vllm][lmi] pass batch size to vllm engine args
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][vllm][lmi] pass batch size to vllm engine args (#2408)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update trtllm deps
  .github/workflows/trtllm-deps-build.yml
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Update trtllm deps (#2410)
  .github/workflows/trtllm-deps-build.yml
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[lmi][wlm] remove hardcoded model type to rolling batch config, default to lmi-dist always
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][wlm] remove hardcoded model type to rolling batch config, defau… (#2411)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
