Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[wlm] Minor refactor to remove unused parameter
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Pass trust_remote_code arg to djl-convert
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] Minor refactor to remove unused parameter (#2314)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[feat] lmi neuronx add smart defaults n_positions
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Update
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[feat] lmi neuronx add smart defaults n_positions (#2316)
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Pass trust_remote_code arg to djl-convert (#2315)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] [Neuron] Various CX improvements for Neo Neuron entrypoint (#2296)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  serving/docker/partition/partition.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[Neo] [Neuron] Various CX improvements for Neo Neuron entrypoint (#2296)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  serving/docker/partition/partition.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[feat] lmi neuronx add smart defaults context length estimates
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[cherry-pick][0.29.0-dlc] [Neo][Neuron] Various CX improvements for Neo Neuron entrypoint (#2296) (#2317)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  serving/docker/partition/partition.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[ci] Add models in text embedding integration
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] LMI Neuron bump optimum-neuron version
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] LMI Neuron bump optimum-neuron version (#2321)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[feat] lmi neuronx add smart defaults context length estimates (#2318)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

fix: allow chat template for non batch and set device_map=auto only for rb
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix: allow chat template for non batch (#2322)
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Change default retry_threshold to 0
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Change default retry_threshold to 0 (#2324)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][rolling-batch] deprecate backwards compat input formatter support
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Loads AWS creadentials from EKS metadata
  awscurl/src/main/java/ai/djl/awscurl/AwsCredentials.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix benchmark nightly concurrency
  tests/integration/benchmark/nightly/g5-2xl.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix device_map auto change in hf handler
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix device_map auto change in hf handler (#2328)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix benchmark nightly concurrency (#2327)
  tests/integration/benchmark/nightly/g5-2xl.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

LMI release notes
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Test model with Secure Mode enabled
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Docs] Add a few missing TRT-LLM options
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[awscurl] Loads AWS creadentials from EKS metadata (#2326)
  awscurl/src/main/java/ai/djl/awscurl/AwsCredentials.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Docs] Add a few missing TRT-LLM options (#2330)
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] Fix awscurl run headers
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add models in text embedding integration
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

allowlist enable streaming
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix awscurl run headers (#2331)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add models in text embedding integration (#2320)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

allowlist enable streaming
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

allow list enable streaming
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick] allow list enable streaming (#2333)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
