Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[docker] bump neuron to 2.19 SDK (#2160)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/token_selector.py
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates dependency versions to latest
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates dependency versions to latest (#2167)
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add input formatter decorator (#2158)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron vllm to 5.0
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Fixes tokenizer cache directory
  awscurl/src/main/java/ai/djl/awscurl/TokenUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Fixes tokenizer cache directory (#2168)
  awscurl/src/main/java/ai/djl/awscurl/TokenUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Updates docs for downloading stable version
  awscurl/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Updates docs for downloading stable version (#2170)
  awscurl/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Upgrade lmi dockerfile for 0.29.0 release
  .github/workflows/integration.yml
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  serving/docker/lmi.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] neuron rolling batch test suite
  engines/python/setup/djl_python/tests/neuron_test_scripts/neuron_rb_generator.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/tiny_models.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/run_rolling_batch_alone.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] neuron rolling batch test suite (#2172)
  engines/python/setup/djl_python/tests/neuron_test_scripts/neuron_rb_generator.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/tiny_models.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/run_rolling_batch_alone.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron vllm to 5.0 (#2169)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Upgrade lmi dockerfile for 0.29.0 release (#2156)
  .github/workflows/integration.yml
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  serving/docker/lmi.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add 0.5.1 supported models
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix space issue and swap model to s3
  tests/integration/llm/download_llm.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add 0.5.1 supported models (#2151)
  tests/integration/llm/download_llm.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] update max_logprobs default for vllm 0.5.1 (#2159)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix the cache miss issue
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix the cache miss issue (#2174)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] Trim whitespce for model_id
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] Trim whitespce for model_id (#2175)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Add integration pytest marks
  .github/workflows/integration_execute.yml
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Formatter
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Adds document for MAX_NETTY_BUFFER_SIZE env var
  serving/docs/configurations.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Adds document for MAX_NETTY_BUFFER_SIZE env var (#2177)
  serving/docs/configurations.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add json error testing
  tests/integration/test_client.py
  tests/python/model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add json error testing (#2178)
  tests/integration/test_client.py
  tests/python/model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] fix stable diffusion support
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] optimum update stable diffusion support (#2179)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

upgrade deps version
  .github/workflows/continuous.yml
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
  .github/workflows/integration_execute.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/run-max-num-tokens.yml
  .github/workflows/text_embedding_integration.yml
  .github/workflows/trtllm-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[CI] upgrade deps version (#2180)
  .github/workflows/continuous.yml
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
  .github/workflows/integration_execute.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/run-max-num-tokens.yml
  .github/workflows/text_embedding_integration.yml
  .github/workflows/trtllm-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[serving][python] Support non 200 HTTP response codes for non-streami… (#2173)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
  engines/python/setup/djl_python/utils.py
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Add integration pytest marks (#2176)
  .github/workflows/integration_execute.yml
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Adds benchmark guide for bedrock
  serving/docs/lmi/deployment_guide/benchmarking-your-endpoint.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Adds benchmark guide for bedrock (#2181)
  serving/docs/lmi/deployment_guide/benchmarking-your-endpoint.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] support multimodal in lmi-dist
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal] support specifying image_token, infering default if not provided
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Includes input data in output file
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Includes input data in output file (#2184)
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
