Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[Serving] Implement SageMaker Secure Mode & support for multiple data sources (#2042)
  gradle/libs.versions.toml
  plugins/secure-mode/README.md
  plugins/secure-mode/build.gradle.kts
  plugins/secure-mode/gradlew
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/IllegalConfigurationException.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/package-info.java
  plugins/secure-mode/src/main/resources/META-INF/plugin.definition
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/package-info.java
  serving/build.gradle.kts
  settings.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Serving] Implement SageMaker Secure Mode & support for multiple data sources (#2042)
  gradle.properties
  plugins/secure-mode/README.md
  plugins/secure-mode/build.gradle
  plugins/secure-mode/gradlew
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/IllegalConfigurationException.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/package-info.java
  plugins/secure-mode/src/main/resources/META-INF/plugin.definition
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/package-info.java
  serving/build.gradle
  settings.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc] IP protection cherry-pick with Kotlin to gradle changes (#2056)
  gradle.properties
  plugins/secure-mode/README.md
  plugins/secure-mode/build.gradle
  plugins/secure-mode/gradlew
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/IllegalConfigurationException.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/package-info.java
  plugins/secure-mode/src/main/resources/META-INF/plugin.definition
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/package-info.java
  serving/build.gradle
  settings.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

AutoAWQ Integration Script (#2038)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[plugin] Fixes plugin scaning bug
  serving/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[plugin] Fixes plugin scaning bug
  serving/build.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Refactor secure mode plugin
  jacoco/build.gradle.kts
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  serving/src/main/java/ai/djl/serving/http/IllegalConfigurationException.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

AutoAWQ Integration Script (#2038)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[0.28.0-dlc][cherry-pick] AutoAWQ Integration Script (#2038) (#2061)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[secure-mode] Refactor secure mode plugin (#2058)
  jacoco/build.gradle.kts
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  serving/src/main/java/ai/djl/serving/http/IllegalConfigurationException.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[plugin] Fixes plugin scaning bug (#2059)
  serving/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[plugin] Fixes plugin scaning bug (#2060)
  serving/build.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Refactor secure mode plugin (#2058)
  jacoco/build.gradle
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  serving/src/main/java/ai/djl/serving/http/IllegalConfigurationException.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Refactor secure mode plugin (#2058) (#2062)
  jacoco/build.gradle
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  serving/src/main/java/ai/djl/serving/http/IllegalConfigurationException.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[test] remove trtllm flan t5 integration test (#2052)
  .github/workflows/llm_integration.yml
  .github/workflows/lmi-no-code.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

0.28.0 uris
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add integration test for auto awq
  .github/workflows/llm_integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Fix entrypoint control name
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Fix entrypoint control name
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Fix entrypoint control name (#2065)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][cherry-pick][secure-mode] Fix entrypoint control name (#2066)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docs] update to 0.28.0 in lmi docs
  serving/docs/configurations_global.md
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/deepspeed-deprecation.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][docs] update to 0.28.0 in lmi docs (#2063)
  serving/docs/configurations_global.md
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/deepspeed-deprecation.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[doc] adding release notes for docs.djl.ai (#2032)
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] don't use env vars for llm integ test as it causes issues with later tests
  .github/workflows/llm_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] don't use env vars for llm integ test as it causes issues w… (#2068)
  .github/workflows/llm_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] remove validating quantization in properties_manager.py
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] remove validating quantization in properties_manager.py (#2067)
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] remove validating quantization in properties_manager.py
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][0.28.0-dlc][fix] remove validating quantization in properties_manager.py (#2069)
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin numpy to <2 in ci/docker
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin numpy to <2 in ci/docker (#2071)
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] initialize sequence dictionary for default sequence index to prevent issues with no first token generated during step
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[ci] Adding integration test for AutoAwq (#2064)
  .github/workflows/llm_integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] initialize sequence dictionary for default sequence index to pr… (#2072)
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[ib] fix docker env file write location
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm, lmi-dist] add support for top_n_tokens (#2051)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ib] fix docker env file write location (#2073)
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin numpy to <2 in ci/docker
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  .github/workflows/rolling_batch_integration.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin numpy to <2 in ci/docker (#2071)
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
