Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[tnx] add on device generation params support (#1782)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add profiling utils to check object leakage (#1947)
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/tests/utils.py
  engines/python/setup/djl_python/utils.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates gradle to 8.7
  awscurl/src/test/java/ai/djl/awscurl/package-info.java
  gradle/wrapper/gradle-wrapper.properties
  plugins/cache/src/test/java/ai/djl/serving/cache/package-info.java
  plugins/kserve/src/test/java/ai/djl/serving/kserve/package-info.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  tools/conf/checkstyle.xml
  tools/conf/suppressions.xml
  tools/gradle/check.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update the list of supported model
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates gradle to 8.7 (#1960)
  awscurl/src/test/java/ai/djl/awscurl/package-info.java
  gradle/wrapper/gradle-wrapper.properties
  plugins/cache/src/test/java/ai/djl/serving/cache/package-info.java
  plugins/kserve/src/test/java/ai/djl/serving/kserve/package-info.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  tools/conf/checkstyle.xml
  tools/conf/suppressions.xml
  tools/gradle/check.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update model list
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update to use IMDSv2 and use for all container type
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update shm size for trtllm test (#1956)
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] update model list (#1961)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

track for code not 200 errored response
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] track for code not 200 errored response (#1963)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs][lmi] update input/output schema docs with error response details
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs][lmi] update input/output schema docs with error response details (#1962)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[dep] Updgrades dependencies for lmi-dist engine
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
  tests/integration/llm/prepare.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] add vllm rolling batch implementation
  .github/workflows/llm_inf2_integration.yml
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/rolling_batch/neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/__init__.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_stable_diffusion_inf2.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[tnx] refactor handler
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix memory issue with pybind and triton core version upgrade
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[tnx] add vllm rolling batch implementation (#1951)
  .github/workflows/llm_inf2_integration.yml
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/__init__.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_stable_diffusion_inf2.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

change the default logprobs to 1
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[dep] Updgrades dependencies for lmi-dist engine (#1949)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
  tests/integration/llm/prepare.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vLLM/LMI-Dist]change the default logprobs to 1 (#1965)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix t5 tokenizer and prompt token failures
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[TRTLLM] fix memory issue with pybind and triton core version upgrade (#1964)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add vllm and lmi-dist lora awq tests (#1937)
  .github/workflows/llm_integration.yml
  engines/python/setup/djl_python/huggingface.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Upgrade onnxruntime version to 1.18.0
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Upgrade onnxruntime version to 1.18.0 (#1967)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Avoid nested logging exception
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Avoid nested logging exception (#1968)
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Format
  engines/python/setup/djl_python/session_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Creates a python Session Manager
  engines/python/setup/djl_python/__init__.py
  engines/python/setup/djl_python/session_manager.py
  engines/python/src/test/java/ai/djl/python/engine/PySessionsTests.java
  engines/python/src/test/resources/sessionecho/mmap/model.py
  engines/python/src/test/resources/sessionecho/mmap/serving.properties
  engines/python/src/test/resources/sessionecho/simple/model.py
  engines/python/src/test/resources/sessionecho/simple/serving.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor session manager API
  engines/python/setup/djl_python/aws/__init__.py
  engines/python/setup/djl_python/aws/cloud_watch.py
  engines/python/setup/djl_python/session_manager.py
  engines/python/src/test/java/ai/djl/python/engine/PySessionsTests.java
  engines/python/src/test/resources/sessionecho/mmap/model.py
  engines/python/src/test/resources/sessionecho/mmap/serving.properties
  engines/python/src/test/resources/sessionecho/simple/model.py
  engines/python/src/test/resources/sessionecho/simple/serving.properties
  engines/python/src/test/resources/stateful/model.py
  engines/python/src/test/resources/stateful/serving.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
