Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

format python
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo
  .github/workflows/llm_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add profiling utils
  engines/python/setup/djl_python/tests/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[onnx] Search for onnx file with folder name
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add open orca conversion (#1942)
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix sagemaker test suite (#1944)
  .github/workflows/sagemaker-integration.yml
  tests/integration/install_sagemaker_pysdk.sh
  tests/integration/llm/sagemaker-endpoint-tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Revert extra parameters and added unit tests cases
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

unittest description
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

check profiling
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/tests/utils.py
  engines/python/setup/djl_python/utils.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[dep] Update flash-attn dependency build
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Refactor extra parameters and added unit tests cases (#1948)
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[dep] Update flash-attn dependency build (#1934)
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[onnx] Search for onnx file with folder name (#1950)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] fix optimum 0.0.22 integration
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[tnx] fix optimum 0.0.22 integration (#1952)
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[tnx] add new optimum safetensors model loading and partition support
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] add new optimum safetensors model loading and partition support (#1953)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[tnx] enable on device generation to pass a json config
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

download model workflow
  .github/workflows/download_llm_to_gamma.yml
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update format
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cache] Update DDBLocal to 2.4.0
  plugins/cache/build.gradle
  plugins/cache/src/test/java/ai/djl/serving/cache/CacheEngineTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update shm size for trtllm test
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add else condition
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] fix wrong hf token env var in doc
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
Owners: @DeepJavaLibrary/djl-neuron-owners

remove directory after uploading
  .github/workflows/download_llm_to_gamma.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

download model workflow (#1954)
  .github/workflows/download_llm_to_gamma.yml
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] fix wrong hf token env var in doc (#1957)
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
Owners: @DeepJavaLibrary/djl-neuron-owners

fix python version
  .github/workflows/download_llm_to_gamma.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update with cpu runner
  .github/workflows/download_llm_to_gamma.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add multi-token support
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add per-token text support
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove test since there is no GPU ready
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add multi-token support (#1889)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove redundant files
  .github/workflows/download_llm_to_gamma.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use max tp
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cache] Update DDBLocal to 2.4.0 (#1955)
  plugins/cache/build.gradle
  plugins/cache/src/test/java/ai/djl/serving/cache/CacheEngineTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix Download workflow (#1959)
  .github/workflows/download_llm_to_gamma.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add detection for p4 and p5 to set shm size
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
