Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

add clean
  .github/workflows/optimization_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo during merge
  .github/workflows/optimization_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IntegTest]add sharding optimization integ tests (#2742)
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/optimization_integration.yml
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] fix tag-suffix calculation to ensure correct tag is used for cron tigger
  .github/workflows/nightly.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] fix tag-suffix calculation to ensure correct tag is used fo… (#2743)
  .github/workflows/nightly.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Bump up neuron to 2.21.1 (#2734)
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Bump up neuron to 2.21.1 (#2734) (#2744)
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix aot buffered print (#2738)
  serving/docker/partition/partition.py
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix aot buffered print (#2738) (#2745)
  serving/docker/partition/partition.py
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Support Sharding for multinode case (#2717)
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Support Sharding for multinode case (#2717) (#2746)
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] update docker build of temp images to properly build release images (#2739)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  serving/docker/docker-compose.yml
  serving/docker/partition/partition.py
  serving/docker/scripts/push_image_from_ECR.sh
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] update docker build of temp images to properly build release ima… (#2747)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  serving/docker/docker-compose.yml
  serving/docker/partition/partition.py
  serving/docker/scripts/push_image_from_ECR.sh
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IntegTest]add sharding optimization integ tests (#2742)
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/optimization_integration.yml
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IntegTest]add sharding optimization integ tests (#2742) (#2748)
  .github/workflows/integration.yml
  .github/workflows/nightly.yml
  .github/workflows/optimization_integration.yml
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] fix tag-suffix calculation to ensure correct tag is used fo… (#2743)
  .github/workflows/nightly.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] fix tag-suffix calculation to ensure correct tag is used fo… (#2749)
  .github/workflows/nightly.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Add CVE patch for libpmix2 in affected images
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/patch_libpmix2.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Add CVE patch for libpmix2 in affected images
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/patch_libpmix2.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Install wget
  serving/docker/scripts/patch_libpmix2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Install wget
  serving/docker/scripts/patch_libpmix2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Add CVE patch for libpmix2 in affected images (#2750)
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/patch_libpmix2.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Add CVE patch for libpmix2 in affected images (#2750)
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/patch_libpmix2.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Make scripts executable in TRT-LLM build
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker] Make scripts executable in TRT-LLM build
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker] Make scripts executable in TRT-LLM build (#2752)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.32.0-dlc][docker] Add CVE patch for libpmix2 in affected images (#2750) (#2751)
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/patch_libpmix2.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[ci] disable and delete workflows that are no longer in use
  .github/workflows/benchmark-nightly.yml
  .github/workflows/instant_benchmark.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump to ubuntu 24.04 base container, update cuda version for lmi since 12.4 is not supported in nvidia ubuntu 22.04 base
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

bump to ubuntu 24.04 base container, update cuda version for lmi sinc… (#2754)
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

bump to ubuntu 24.04 base container, update cuda version for lmi sinc… (#2754)
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

bump to ubuntu 24.04 base container, update cuda version for lmi sinc… (#2755)
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

bump djl and djl serving version
  .github/workflows/optimization_integration.yml
  gradle/libs.versions.toml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump djl and djl serving version (#2756)
  .github/workflows/optimization_integration.yml
  gradle/libs.versions.toml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Remove patch script
  serving/docker/scripts/patch_libpmix2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Remove patch script (#2759)
  serving/docker/scripts/patch_libpmix2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.32.0-dlc][tool] Fix tool calling output
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tool] Fix tool calling output
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.32.0-dlc][tool] Fix tool calling output (#2761)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tool] Fix tool calling output (#2760)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
