Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] update benchmark tokenizer (#1896)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docker/convert/.gitignore
  serving/docker/convert/arg_parser.py
  serving/docker/convert/fill_mask_converter.py
  serving/docker/convert/huggingface_converter.py
  serving/docker/convert/huggingface_importer.py
  serving/docker/convert/huggingface_models.py
  serving/docker/convert/metadata.py
  serving/docker/convert/question_answering_converter.py
  serving/docker/convert/requirements.txt
  serving/docker/convert/safetensors_convert.py
  serving/docker/convert/sentence_similarity_converter.py
  serving/docker/convert/shasum.py
  serving/docker/convert/text_classification_converter.py
  serving/docker/convert/token_classification_converter.py
  serving/docker/convert/zip_utils.py
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Convert huggingface model to onnx
  serving/docker/convert/.gitignore
  serving/docker/convert/arg_parser.py
  serving/docker/convert/fill_mask_converter.py
  serving/docker/convert/huggingface_converter.py
  serving/docker/convert/huggingface_importer.py
  serving/docker/convert/huggingface_models.py
  serving/docker/convert/metadata.py
  serving/docker/convert/question_answering_converter.py
  serving/docker/convert/requirements.txt
  serving/docker/convert/safetensors_convert.py
  serving/docker/convert/sentence_similarity_converter.py
  serving/docker/convert/shasum.py
  serving/docker/convert/text_classification_converter.py
  serving/docker/convert/token_classification_converter.py
  serving/docker/convert/zip_utils.py
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Doc] Update LoRA docs (#1898)
  serving/docs/adapters.md
  serving/docs/lmi/README.md
  serving/docs/lmi/conceptual_guide/lmi_engine.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

allow TGI compat to work with output token ids
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

allow TGI compat to work with output token ids (#1900)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add max num tokens workflow
  .github/workflows/run-max-num-tokens.yml
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add max num tokens workflow (#1899)
  .github/workflows/run-max-num-tokens.yml
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Convert huggingface model to onnx (#1888)
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix tokenizers
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add missing line
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] Read-only Neuron cache workaround for SM (#1879)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

add changes
  .github/workflows/run-max-num-tokens.yml
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] fix tokenizers (#1903)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Improve the artifact saving (#1904)
  .github/workflows/run-max-num-tokens.yml
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] add speculative decoding
  .github/workflows/llm_inf2_integration.yml
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/tests/test_transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/speculation.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/utils.py
  serving/docs/lmi/user_guides/tnx_user_guide.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[tnx] add greedy speculative decoding (#1902)
  .github/workflows/llm_inf2_integration.yml
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/tests/test_transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/speculation.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/utils.py
  serving/docs/lmi/user_guides/tnx_user_guide.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

add gemma model support
  .github/workflows/lmi-no-code.yml
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Updates default management port
  plugins/management-console/src/main/java/ai/djl/serving/console/ConsoleRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix small bug
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[TRTLLM] add gemma model support (#1906)
  .github/workflows/lmi-no-code.yml
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[serving] Avoid tab in logging
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] inf2 pipeline fix for non-compiled models
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[serving] Avoid tab in logging (#1910)
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] inf2 pipeline fix for non-compiled models (#1912)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Fix noncritical json loading bug (#1908)
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Updates default management port (#1907)
  plugins/management-console/src/main/java/ai/djl/serving/console/ConsoleRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

not sharing container info
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[LMI] not sharing container info (#1915)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Reduce GPU mem_util for KVCache for DBRX model
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[prometheus] Avoid missing class warning
  prometheus/build.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

adding repo support
  .github/workflows/instant_benchmark.yml
  tests/integration/benchmark/nightly/g5-12xl.txt
  tests/integration/benchmark/nightly/g5-2xl.txt
  tests/integration/benchmark/nightly/g5-48xl.txt
  tests/integration/instant_benchmark.py
  tests/integration/record_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] support benchmark matrix (#1913)
  .github/workflows/instant_benchmark.yml
  tests/integration/benchmark/nightly/g5-12xl.txt
  tests/integration/benchmark/nightly/g5-2xl.txt
  tests/integration/benchmark/nightly/g5-48xl.txt
  tests/integration/instant_benchmark.py
  tests/integration/record_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
