Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci] add files for triggering old workflows (#2247)
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add input_formatter schema doc
  serving/docs/lmi/user_guides/input_formatter_schema.md
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix correctness testing pipeline
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix correctness testing pipeline (#2246)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add input_formatter schema doc (#2248)
  serving/docs/lmi/user_guides/input_formatter_schema.md
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add annotation for output formatter
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update DJL to 0.30.0
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Update DJL to 0.30.0 (#2250)
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Refactor
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Update DJL version to 0.30.0
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update DJL version to 0.30.0 (#2252)
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add annotation for output formatter (#2249)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Fixes TTFB for SageMaker SSE response
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update djl_converter version to 0.30.0
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update djl_converter version to 0.30.0 (#2254)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Fixes TTFB for SageMaker SSE response (#2253)
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Increase neuronx correctness test n_positions
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Increase neuronx correctness test n_positions (#2255)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update text embedding integration to Rust engine
  .github/workflows/text_embedding_integration.yml
  tests/integration/embedding/client.py
  tests/integration/embedding/prepare.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update text embedding integration to Rust engine (#2251)
  .github/workflows/text_embedding_integration.yml
  tests/integration/embedding/client.py
  tests/integration/embedding/prepare.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update chat batch generation messages
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix aarch64 misconfigurations when running
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Change TRTLLM tests tp degree
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add handler performance test
  .github/workflows/benchmark-nightly.yml
  engines/python/setup/djl_python/tests/neuron_test_scripts/tiny_models.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[ci] add handler performance test (#2242)
  .github/workflows/benchmark-nightly.yml
  engines/python/setup/djl_python/tests/neuron_test_scripts/tiny_models.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

Add comments and format
  serving/docker/partition/run_multi_node_setup.py
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add multi_node setup on worker node
  serving/docker/lmi.Dockerfile
  serving/docker/partition/run_multi_node_setup.py
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix ssh error by adding required perms and file handling
  serving/docker/partition/run_multi_node_setup.py
  serving/docker/partition/utils.py
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci] Update chat batch generation messages (#2256)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove unused path
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Move openssh installation to a script
  serving/docker/lmi.Dockerfile
  serving/docker/scripts/install_openssh.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove print and correct messaging
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci][fix] fix incorrect output file name in rb_client by accounting for client number suffix
  tests/integration/rb_client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Run Formatter after cleanup
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix perms on ssh dir
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Format files
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove restart path and file copy
  serving/docker/partition/run_multi_node_setup.py
  serving/docker/scripts/install_openssh.sh
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] fix incorrect output file name in rb_client by accounting f… (#2258)
  tests/integration/rb_client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add multi_node setup on worker node (#2217)
  serving/docker/lmi.Dockerfile
  serving/docker/partition/run_multi_node_setup.py
  serving/docker/partition/utils.py
  serving/docker/scripts/install_openssh.sh
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] fix output token texts calculation
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
