Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[fix] mpi mode check in trtllm (#1929)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[trtllm] translate stop to stop_sequences
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

fix
  .github/workflows/lmi-no-code.yml
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] improve lcnc (#1928)
  .github/workflows/lmi-no-code.yml
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] translate tgi stop to stop_sequences (#1930)
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Add chat output formatter unit test
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add chat output formatter unit tests (#1932)
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add text embedding integration test (#1909)
  .github/workflows/text_embedding_integration.yml
  tests/integration/embedding/client.py
  tests/integration/embedding/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Move request and output_formatter out of rolling_batch
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Install djl-converter in cpu and aarch64 container
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Move request and output_formatter out of rolling_batch.py (#1931)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Switches default management port
  plugins/management-console/src/main/java/ai/djl/serving/console/ConsoleRequestHandler.java
  serving/docs/configurations_global.md
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add vllm and lmi-dist lora awq tests
  .github/workflows/llm_integration.yml
  engines/python/setup/djl_python/huggingface.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor lmi_dist and vllm to support RequestOutput
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Switches default management port (#1936)
  plugins/management-console/src/main/java/ai/djl/serving/console/ConsoleRequestHandler.java
  serving/docs/configurations_global.md
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix for neuron rolling batch CI error
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
Owners: @DeepJavaLibrary/djl-neuron-owners

fix bug on p4d machine closure
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix bug on p4d machine closure (#1940)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor output_formatter and include all parameters
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix for neuron rolling batch CI error (#1938)
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
Owners: @DeepJavaLibrary/djl-neuron-owners

fix details
  engines/python/setup/djl_python/request.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] version bumps for the container
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] version bumps for the container (#1939)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add open orca conversion
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Adds logs for duration
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Adds logs for duration (#1943)
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add deprecated flag
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format python
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix sagemaker test suite
  .github/workflows/sagemaker-integration.yml
  tests/integration/install_sagemaker_pysdk.sh
  tests/integration/llm/sagemaker-endpoint-tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm 0.4.2] prompt log probs changes
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor output_formatter and include all parameters (#1941)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

create new workflows for lora tests
  .github/workflows/llm_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
