Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[fix] install transformers separately due to issues with trtllm const… (#2529)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

SageMaker FML: Fix Build Path & add integ test dependency (#2527)
  serving/docker/lmi.Dockerfile
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fixing Neo integ tests & adding more input validations
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Linting
  serving/docker/partition/sm_neo_dispatcher.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

clean up old djl-serving repo
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin stable build of lmi-dist with py311 and torch 2.5.1 to unblock ci and testing
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update adapters list after backend job succeed and added tests (#2525)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/src/test/resources/adaptecho/model.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin stable build of lmi-dist with py311 and torch 2.5.1 to unblock ci… (#2531)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] apply batch size constraint for t5 trt test to prevent failures
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Validation for FML x SD
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  serving/docker/partition/sm_neo_dispatcher.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Validation for FML x SD
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  serving/docker/partition/sm_neo_dispatcher.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Move pin to options
  engines/python/setup/djl_python/huggingface.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fix the pytorch JNI version
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Move pin to options (#2533)
  engines/python/setup/djl_python/huggingface.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove duplicate class def
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][inf2] pin hf hub python dependency
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][inf2] pin huf hub python dependency
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][inf2] pin hf hub python dependency (#2537)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][inf2] pin huf hub python dependency (#2538)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] apply batch size constraint for t5 trt test to prevent fail… (#2532)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix if statements
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  serving/docker/partition/sm_neo_dispatcher.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

++ #2530 Fixing Neo integ tests & adding more input validations (#2535)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update LoRA adapter doc
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add load option to LoRA adapter API
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update serving/docker/lmi.Dockerfile
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update documentation to version 0.30.0 (#2523)
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Fix the pytorch JNI version in dockerfile (#2534)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update LoRA adapter doc (#2540)
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add lora for neo fast model loading test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

change fml name
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Get SM Fast Model Loader model dir name from package
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add print
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add fml option
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Get SM Fast Model Loader model dir name from package (#2541)
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix adapter call
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add readme and format python
  tests/integration/benchmark/ir-llm/README.md
  tests/integration/benchmark/ir-llm/scripts/cw_metrics.py
  tests/integration/benchmark/ir-llm/scripts/run_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

no adapter
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

x
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

comment out lora env
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

try tiny llama
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
