Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

add mmlu dataset
  tests/integration/llm/README.md
  tests/integration/llm/dataset/README.md
  tests/integration/llm/dataset/dataset_prep.py
  tests/integration/llm/dataset/mmlu_generator.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add mmlu dataset (#2185)
  tests/integration/llm/README.md
  tests/integration/llm/dataset/README.md
  tests/integration/llm/dataset/dataset_prep.py
  tests/integration/llm/dataset/mmlu_generator.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal] support specifying image_token, infering default if not … (#2183)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Refactor Neo TRT-LLM partition script (#2166)
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

update cuda version and the pipeline
  .github/workflows/trtllm-deps-build.yml
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Introduce pipeline parallel degree config
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  serving/docker/partition/properties_manager.py
  serving/docker/partition/trt_llm_partition.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Address comment
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Format python
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python_engine.py
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Format Java, python and add divisibility criteria
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove assert
  engines/python/setup/djl_python/properties_manager/hf_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove assert
  engines/python/setup/djl_python/properties_manager/hf_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] update cuda version and the pipeline (#2186)
  .github/workflows/trtllm-deps-build.yml
Owners: @DeepJavaLibrary/djl-trt-llm-owners

add support for enable_chunked_prefill in vllm and lmi-dist
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix adapters client testing
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix adapters client testing (#2188)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Partiton] Don't output `option.parallel_loading`
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Partiton] Don't output `option.parallel_loading` when partitioning (#2189)
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[lmi][doc] update docs for vision language model support
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/vision_language_models.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Introduce pipeline parallel degree config (#2171)
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  serving/docker/partition/properties_manager.py
  serving/docker/partition/trt_llm_partition.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

update installation
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use cloudfront
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[Partiton] Don't output `option.parallel_loading` when partitioning (#2189)
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Neo] Neo compilation/quantization script bugfixes (#2115)
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neuron] Fix Neuron compilation logging (#2095)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

add trtllm container update (#2191)
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherrypick][0.28.0 dlc] Neo fixes (#2189) (#2115) (#2095) (#2193)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[serving] Adds mutliple node cluster configuration support
  serving/docker/config.properties
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/main/java/ai/djl/serving/ServerInitializer.java
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ClusterConfig.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/Connector.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][doc] update docs for vision language model support (#2192)
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/vision_language_models.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Adds mutliple node cluster configuration support (#2190)
  serving/docker/config.properties
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/main/java/ai/djl/serving/ServerInitializer.java
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ClusterConfig.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/Connector.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[aot] fix aot partition args, add pipeline parallel
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[aot] fix aot partition args, add pipeline parallel (#2196)
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[chat][lmi] use generation prompt in tokenizer to avoid bot prompt returned in response
  engines/python/setup/djl_python/chat_completions/chat_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Download model while initialize multi-node cluster
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ModelStore.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump up to 0.29.0
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump up bench to 0.29.0 (#2199)
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Download model while initialize multi-node cluster (#2198)
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ModelStore.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Dependencies upgrade for 0.29.0
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add correctness testing
  .github/workflows/correctness.yml
  tests/integration/llm/client.py
  tests/integration/llm/correctness/execution.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update docs
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add correctness testing (#2200)
  .github/workflows/correctness.yml
  tests/integration/llm/client.py
  tests/integration/llm/correctness/execution.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
