Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

Add tensorrt_llm libs to LD_LIBRAR_PATH
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Add tensorrt_llm libs to LD_LIBRARY_PATH (#1988)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

remove empty spaces
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[fix] Seq2Seq model fix for lmi-dist
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

best_of/beam_search support in output formatter
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Adds SECURITY.md file
  SECURITY.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Seq2Seq model fix for lmi-dist (#1991)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

support future arctic model FP8 quantization
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove beam
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vLLM] support future arctic model FP8 quantization (#1993)
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo in finish
  engines/python/setup/djl_python/request_io.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo in finish_reason default. (#1994)
  engines/python/setup/djl_python/request_io.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Adds SECURITY.md file (#1989)
  SECURITY.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] freeze versions for LMI Neuron
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][tnx] freeze versions for LMI Neuron (#1995)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][lmi] freeze versions for LMI Dist
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][lmi-dist] Freeze version for LMI Dist
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][lmi] freeze versions for LMI Dist (#1997)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][dlc] Update tag versions for containers
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][dlc] Update tag versions for containers (#1998)
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Initial AWQ quantization support
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
  serving/docker/partition/quantization_properties_manager.py
  serving/docker/partition/quantize.py
  serving/docker/partition/run_quantization.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[docs][lmi] add warning to deepspeed user guide indicating deprecated support
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes onnx model conversion bug
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes onnx model conversion bug (#2000)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update lmi-dist and vllm docs for 0.28.0 release
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Freeze tensorrt llm toolkit version for tensorrt llm container
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docs][lmi] add warning to deepspeed user guide indicating deprecated… (#1999)
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update lmi-dist and vllm docs for 0.28.0 release (#2001)
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs][lmi] update lmi docs in general for 0.28.0
  serving/docker/README.md
  serving/docs/configurations_model.md
  serving/docs/lmi/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/backend-selection.md
  serving/docs/lmi/deployment_guide/configurations.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/instance-type-selection.md
  serving/docs/lmi/tutorials/seq_scheduler_tutorial.md
  serving/docs/lmi/user_guides/README.md
  serving/docs/lmi/user_guides/hf_accelerate.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  serving/docs/streaming_config.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Freeze tensorrt llm toolkit versions for tensorrt llm container
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.28.0-dlc] [tensorrt-llm] Freeze tensorrt llm toolkit versions for tensorrt llm container (#2004)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[fix] Update vllm config path for sm
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Sm vllm config (#2005)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Update vllm config path for sm
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Update vllm config path for sm (#2006)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Install missing pytorch jni package
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Install missing pytorch jni package (#2007)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Install missing pytorch jni package (#2007)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Post 0.28.0] update pipeline machine to g6 (#1983)
  .github/workflows/llm_integration.yml
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add peft version
  serving/docker/Dockerfile
  serving/docker/docker-compose.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
