Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[doc] add input_formatter schema doc (#2248)
  serving/docs/lmi/user_guides/input_formatter_schema.md
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add files for triggering old workflows (#2247)
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add multi_node setup on worker node (#2217)
  serving/docker/lmi.Dockerfile
  serving/docker/partition/run_multi_node_setup.py
  serving/docker/partition/utils.py
  serving/docker/scripts/install_openssh.sh
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[awscurl] Fixes TTFB for SageMaker SSE response (#2253)
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add handler performance test (#2242)
  .github/workflows/benchmark-nightly.yml
  engines/python/setup/djl_python/tests/neuron_test_scripts/tiny_models.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[ci] Update text embedding integration to Rust engine (#2251)
  .github/workflows/text_embedding_integration.yml
  tests/integration/embedding/client.py
  tests/integration/embedding/prepare.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Increase neuronx correctness test n_positions (#2255)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update chat batch generation messages (#2256)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] fix incorrect output file name in rb_client by accounting f… (#2258)
  tests/integration/rb_client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update neuron tests to mirror observed mistral/mixtral support (#2263)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix beam search garbage issue (#2260)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update tnx docs to current (#2262)
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @DeepJavaLibrary/djl-neuron-owners

[doc] update beam search parameters in io schema (#2261)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Update integration test scripts for Neo (#2245)
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix output token texts calculation (#2259)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix mismatch tokens error (#2265)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix neuron rb test failure (#2267)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix dynamic batch input parse (#2269)
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora test failures (#2270)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora testing to fail on error response code (#2266)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix TRTLLM partition issue (#2264)
  .github/workflows/lmi-no-code.yml
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix auto awq integration test failure (#2271)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] FP8 quantization fix (#2274)
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update Phi LCNC config (#2273)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo][vllm] FP8 Quantization support for partition & Neo (#2272)
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[CI] use s3 url for stability (#2275)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherrypick] 29 new commits from master (#2276)
  .github/workflows/benchmark-nightly.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/text_embedding_integration.yml
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/tiny_models.py
  engines/python/setup/djl_python/utils.py
  engines/python/setup/djl_python_engine.py
  serving/docker/lmi.Dockerfile
  serving/docker/partition/partition.py
  serving/docker/partition/run_multi_node_setup.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/utils.py
  serving/docker/scripts/install_openssh.sh
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/user_guides/input_formatter_schema.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/output_formatter_schema.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  tests/integration/embedding/client.py
  tests/integration/embedding/prepare.py
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/rb_client.py
  tests/integration/tests.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

dockerfile versions non nightly
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

dockerfile versions non nightly (#2277)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Add llama3-8b-fp8 correctness test
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add multimodal tests for sagemaker
  .github/workflows/sagemaker-integration.yml
  tests/integration/llm/sagemaker-endpoint-tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Revert "Add llama3-8b-fp8 correctness test"
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Integration test: Add Llama3-8b fp8 quantization
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor to use os.makedirs with exist_ok=True for directory creation for better error handling
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add multimodal tests for sagemaker (#2279)
  .github/workflows/sagemaker-integration.yml
  tests/integration/llm/sagemaker-endpoint-tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trt] use cu123 base image and cudacompat as trtllm 0.9.0 is dependent on cuda12.3.2
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

remove spaces in launch method
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add ignore_eos support in chat completions schema
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  serving/docs/lmi/user_guides/chat_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Integration test: Add Mistral-7B-Instruct-v0.3 with and without fp8 quantization
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add ignore_eos support in chat completions schema (#2281)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  serving/docs/lmi/user_guides/chat_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
