Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci] update snapshot logic for serving
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/serving-publish.yml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[ci] update snapshot logic for serving
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/serving-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neuron] update tnx properties for 2.20.0 SDK
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][lmi-dist] Add pipeline-parallel support to lmi-dist, and use_passive_workers by default (#2445)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docker] update to vllm0.6.2 with cherry-pick for mllama, additional minor dep updates
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][docker] building vllm 0.6.2 with mllama cherry-pick
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][lmi-dist] Use batched add_requests call.
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Change default enable_chunked_prefill to None
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add note to breaking changes
  serving/docs/lmi/announcements/breaking_changes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][lmi-dist] Use batched add_requests call. (#2457)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Change default enable_chunked_prefill to None (#2458)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Support pin adapter API
  engines/python/setup/djl_python/huggingface.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docker] update to vllm0.6.2 with cherry-pick for mllama, additi… (#2455)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add test case for first token last token bug
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add test case for first token last token bug
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][docker] building vllm 0.6.2 with mllama cherry-pick
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] fix typo vllm_version -> vllm_wheel
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] fix typo vllm_version -> vllm_wheel (#2462)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Support pin adapter API
  engines/python/setup/djl_python/huggingface.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neuron] update tnx properties for 2.20.0 SDK (#2454)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] use engine provided tokenizer for rolling_batch use-cases
  engines/python/setup/djl_python/huggingface.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] neuron speculative decoding support
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[neuron] pin huggingface hub
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add test case for first token last token bug
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neuron] pin huggingface hub (#2463)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] use engine provided tokenizer for rolling_batch use-cases (#2464)
  engines/python/setup/djl_python/huggingface.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neuron] add smart defaults for aot partition path
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_smart_default_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add generation config support for neuron
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[neuron] add smart defaults for aot partition path (#2461)
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_smart_default_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving][python] Backport for pull #2173 to v0.28, support for non-200 HTTP codes for non-streaming rolling batch requests
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add missing semicolon
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix non-static in static context
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

formatJava
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving][python] Backport for pull #2173 to v0.28, support for non-2… (#2466)
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][tests] adding new multimodal and pipeline parallel tests
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi/vllm] expose tokenizer mode to allow for proper usage of mistral models with mistral tokenizers
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][tests] adding new multimodal and pipeline parallel tests (#2467)
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Schedule adapter config jobs to wlm
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi/vllm] expose tokenizer mode to allow for proper usage of mistral… (#2468)
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
