Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

update model artifacts to 0.9.0
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use s3 models for llama gptq
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Avoid using tab in logging
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Use s3 models for llama gptq (#1872)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Avoid using tab in logging (#1871)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add placeholder workflow (#1874)
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[T5] TRTLLM python repo model check (#1870)
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

emergency fix
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

emergency fix (#1876)
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Restart docker daemon in p4d workflow
  .github/workflows/llm_integration_p4d.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

patch to previous version
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix reuse bug
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Update p4d CI workflow (#1877)
  .github/workflows/llm_integration_p4d.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update TRT-LLM Container to build with Triton 24.04
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[tnx] Read-only Neuron cache workaround for SM
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

add TGI compat feature for rollingbatch (#1866)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add better token handling under hazardous condition (#1875)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] fix: only copy Neuron cache if is readable
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add TGI compat feature for rollingbatch (#1866)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates dependencies version
  gradle.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update TRT-LLM Container to build with Triton 24.04 (#1878)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] Updates dependencies version (#1881)
  gradle.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove docker daemon restarts from p4d workflow
  .github/workflows/llm_integration_p4d.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] Avoid using gated model for testing (#1791)
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove docker daemon restarts from p4d workflow (#1882)
  .github/workflows/llm_integration_p4d.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
