Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[fix][trtllm] only import vllm chat processing when required
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt (#2680)
  .github/workflows/docker_publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][trtllm] only import vllm chat processing when required (#2679)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] install awscli via pip instead of apt
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt (#2684)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt (#2683)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt (#2682)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][fix] install awscli via pip instead of apt (#2681)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][vllm][trtllm] add support for generation parameters fron generation_config.json
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[python] Support NxDI with Vllm
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[grpc] add gradlew to grpc plugin
  plugins/grpc/gradlew
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[grpc] add gradlew to grpc plugin (#2687)
  plugins/grpc/gradlew
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update vllm wheel in neuronx container
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update vllm wheel in neuronx container (#2688)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format python
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Support NxDI with Vllm (#2686)
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] enforce execution of awscurl executable file
  awscurl/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] enforce execution of awscurl executable file (#2689)
  awscurl/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add aot config for nxdi with vllm
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove deepspeed related AOT code
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] remove deepspeed related AOT code (#2692)
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] add aot config for nxdi with vllm (#2691)
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove unused get_engine_configs
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove unused get_engine_configs (#2694)
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] return neuron cores instead of neuron devices
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_smart_default_utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] Fixes gradle 8.12 warnings
  .gitignore
  benchmark/build.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/pythonFormatter.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/shellFormatter.gradle.kts
  serving/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fixes gradle 8.12 warnings (#2693)
  .gitignore
  benchmark/build.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/pythonFormatter.gradle.kts
  buildSrc/src/main/kotlin/ai/djl/shellFormatter.gradle.kts
  serving/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] convert lcnc test to use tp 2, till the issue is fixed in neuron sdk
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fixing debug variable names and generated file names
  TROUBLESHOOTING.md
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/scripts/install_nsys.sh
  serving/docker/scripts/start_debug_tools.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Support for NVIDIA Nsight Systems Profiling of DJL Serving (#2667)
  TROUBLESHOOTING.md
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_debug_tools.sh
  serving/docker/scripts/install_nsys.sh
  serving/docker/scripts/install_s5cmd.sh
  serving/docker/scripts/start_debug_tools.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] Update rolling batch params to output delta (#2636)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] move the default compile path to /tmp/.djl.ai
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] convert lcnc test to use tp 2, till the issue is fixed in neuron… (#2696)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Add tool calling support
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/setup.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Add tool calling support (#2675)
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/setup.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format python
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[python] move the default compile path to /tmp/.djl.ai (#2697)
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
