Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

add ignore_eos support in chat completions schema (#2281)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  serving/docs/lmi/user_guides/chat_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] NeuronX fixes for AOT
  serving/docker/partition/partition.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix hf hub flakiness remove unused prepare (#2278)
  serving/docker/partition/partition.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix Python formatting
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix Python formatting
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add support for Llama-3-8B fp8 quantization with TensorRT LLM (#2280)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update PyTorch to 2.4.0
  serving/docker/Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick] add ignore_eos support in chat completions schema (#2281) (#2283)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  serving/docs/lmi/user_guides/chat_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Integration test: Add Mistral-7B-Instruct-v0.3 with and without fp8 quantization
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add s3 location for mistral config and rebase
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix Python formatting
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update PyTorch to 2.4.0 (#2285)
  serving/docker/Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

take out cudnn
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[trt] use cu123 base image and cudacompat as trtllm 0.9.0 is dependen… (#2284)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[onnx] Fixes detect need convert model logic for onnx
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[TRTLLM] take out cudnn (#2286)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[TRTLLM] take out cudnn (#2286)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docs][lmi] update user guides for lmi v11
  serving/docs/lmi/README.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
  serving/docs/lmi/user_guides/embedding-user-guide.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vision_language_models.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[Cherry-pick][TRTLLM] take out cudnn (#2286) (#2288)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[onnx] Fixes detect need convert model logic for onnx (#2287)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Refactor: remove Neo compiler options
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Add integration tests for Mistral-7B-Instruct-v0.3 with and without fp8 quantization (#2282)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix the NoneType error when decoded_token is empty
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[unittest] pin transformers version
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs][lmi] update user guides for lmi v11 (#2290)
  serving/docs/lmi/README.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
  serving/docs/lmi/user_guides/embedding-user-guide.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vision_language_models.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docs][lmi] update user guides for lmi v11 (#2290)
  serving/docs/lmi/README.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
  serving/docs/lmi/user_guides/embedding-user-guide.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vision_language_models.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[cherry-pick] [docs][lmi] update user guides for lmi v11 (#2290) (#2291)
  serving/docs/lmi/README.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
  serving/docs/lmi/user_guides/embedding-user-guide.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vision_language_models.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[python] fix the NoneType error when decoded_token is empty (#2289)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix the NoneType error when decoded_token is empty (#2289)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Cherrypick][python] fix the NoneType error when decoded_token is empty (#2289) (#2292)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix hf hub flakiness remove unused prepare (#2278)
  serving/docker/partition/partition.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Cherrypick][ci] fix hf hub flakiness remove unused prepare (#2278) (#2294)
  serving/docker/partition/partition.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Fix partitioning failed error msg for Neo
  serving/docker/partition/partition.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

Formatter
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[Neuron] Improve error msg for unsupported models
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[Neo] Merge JS neuron cache files with input
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[secure-mode] Allow untrusted channels env var to be empty string
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[onnx] Fixes detect need convert model logic for onnx (#2287)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[onnx] Fixes detect need convert model logic for onnx (#2287) (#2295)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Don't duplicate neuron models weights
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners
