Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

take out falcon from the test list (#2219)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

removing input_ids from request_input, switch to getting prompt length from sequence
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[post-7/22]Add chunked prefill support in vllm and lmi-dist (#2202)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

avoid computing prompt logprobs if not required
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

lazy compute input ids (#2216)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/three_p/three_p_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Creates nightly pipeline
  .github/workflows/docker_build.yml
  .github/workflows/docker_publish.yml
  .github/workflows/integration.yml
  .github/workflows/integration_execute.yml
  .github/workflows/nightly-docker-ecr-sync.yml
  .github/workflows/nightly.yml
  serving/docker/scripts/pull_and_retag.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use default github runner
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update huggingface version
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] use default github runner (#2222)
  .github/workflows/docker-nightly-publish.yml
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] neuron bump to 2.19.1
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo in test name
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo in test name (#2224)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] neuron bump to 2.19.1 (#2223)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update correctness testing
  .github/workflows/correctness.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update correctness testing (#2221)
  .github/workflows/correctness.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add 0.5.3 updates
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update with 0.5.3
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vLLM][0.5.3] add new configs to engine (#2220)
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  serving/docker/lmi.Dockerfile
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

comment optimum from installation
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] comment optimum from installation (#2225)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] neuron bump transformers for llama3.1
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  serving/docker/pytorch-inf2.Dockerfile
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update the transformers version
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][hotfix] changes to build new vllm wheel with hanging fix
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] neuron bump transformers for llama3.1 (#2226)
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  serving/docker/pytorch-inf2.Dockerfile
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][hotfix] changes to build new vllm wheel with hanging fix (#2228)
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update the transformers version (#2227)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes tensor_parallel_degree detection on CPU
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.29.0] use vllm wheel with hanging patch
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] use vllm wheel with hanging patch
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] use vllm wheel with hanging patch (#2231)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] fix optimum token selection and sampling
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_token_selector.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[tnx] fix optimum token selection and sampling (#2233)
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_modeling.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_neuron_scheduler.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/optimum_token_selector.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[serving][post 7/24] Fixes tensor_parallel_degree detection on CPU (#2229)
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal] add additional vlm architectures to lmi config recommender
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal] add additional vlm architectures to lmi config recommender (#2235)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal][ci] adding multimodal tests
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal][ci] adding multimodal tests (#2234)
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Fix AttributeError in Neo partition scripts
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

put back neuron installation
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

put back neuron installation (#2237)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
