Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[serving] Adds error message for download config.json
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix the wrong libnvinfer issues
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[TRTLLM] fix the wrong libnvinfer issues (#2298)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[TRTLLM] fix the wrong libnvinfer issues (#2298)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[lmi_dist][vllm] Fix chunked prefill bug that caused error with prompt_logprobs
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Adds error message for download config.json (#2297)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

formatPython
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

added import
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

reorder mock patches to try to fix CI error
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove import we added trying to fix CI tests
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi_dist][vllm] Fix chunked prefill bug that caused error with prompt_logprobs (#2299)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi_dist][vllm] Fix chunked prefill bug that caused error with prompt_logprobs (#2299)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Replace CompilationFatalError with OptimizationFatalError
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[CherryPick][TRTLLM] fix the wrong libnvinfer issues (#2298) (#2300)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[cherry-pick ][lmi_dist][vllm] Fix chunked prefill bug that caused error with promp… (#2302)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Allow untrusted channels env var to be empty string (#2301)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Allow untrusted channels env var to be empty string (#2301)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][secure-mode] Allow untrusted channels env var to be empty string (#2301) (#2303)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Fixes broken links
  engines/python/setup/djl_python/properties_manager/README.md
  serving/docs/configuration.md
  serving/docs/lmi/deployment_guide/configurations.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Fixes broken links (#2304)
  engines/python/setup/djl_python/properties_manager/README.md
  serving/docs/configuration.md
  serving/docs/lmi/deployment_guide/configurations.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] fail fast if one of the workers dies
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

reformat java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Neuron script fixes
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neuron] remove extra serving.properties
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[wlm] fail fast if one of the workers dies (#2305)
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Do not require untrusted channels env var to be set
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] fail fast if one of the workers dies (#2305)
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] fail fast if one of the workers dies (#2305)
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] fail fast if one of the workers dies (#2305) (#2307)
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Do not require untrusted channels env var to be set (#2306)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Do not require untrusted channels env var to be set (#2306)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][secure-mode] Do not require untrusted channels env var to be set (#2306) (#2309)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Update options allowlist for 0.29.0
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Update options allowlist for 0.29.0 (#2310)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Update options allowlist for 0.29.0 (#2310)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][secure-mode] Update options allowlist for 0.29.0 (#2310) (#2311)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[wlm] fail fast if one of the workers dies (#2305) (#2308)
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc] fix the integration test to build on staging
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc] fix the integration test to build on staging (#2312)
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc] fix the integration test to build on staging for gpu
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
