Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Changed to use custom s5cmd build w go 1.24.2 to address CVEs and also added new integration tests to workflow
  .github/workflows/integration.yml
  serving/docker/scripts/install_s5cmd.sh
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix s5cmd CVE by using custom build with Go 1.24.2
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Use gpt-oss from s3 bucket and GPT-OSS adapters and speculative_model
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix s5cmd CVE by using custom build with Go 1.24.2 (#2935)
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update s5cmd to Go 1.25.2 to fix CVE vulnerabilities
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update s5cmd to Go 1.25.2 to fix additional CVE vulnerabilities
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update vllm spec decoding integration test
  serving/docs/lmi/user_guides/vllm_user_guide.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update s5cmd to Go 1.25.2 to fix additional CVE vulnerabilities (#2937)
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix vllm spec decoding config integration test (#2938)
  serving/docs/lmi/user_guides/vllm_user_guide.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update trt_llm_partition.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/pyproject.toml
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fmt code
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/partition/trt_llm_partition.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix typo
  engines/python/setup/pyproject.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove tensorrt_llm installation
  engines/python/setup/pyproject.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fmt
  engines/python/setup/djl_python/tests/test_properties_manager.py
  serving/docker/partition/trt_llm_partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi] Upgrade transformers to 4.57.1
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] Upgrade transformers to 4.57.1 (#2940)
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add tests for lmcache
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/lmcache_configs/lmcache_cpu.yaml
  tests/integration/lmcache_configs/lmcache_local_storage.yaml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add LMCache tests to nightly pipeline
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add integration tests for new large model architectures
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add integration tests for new large model architectures (#2941)
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Resolve merge conflicts
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/pytest.ini
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Resolve merge conflicts
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add tests for lmcache
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add lmcache tests to nightly pipeline
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add configs for lmcache
  serving/docker/lmi.Dockerfile
  tests/integration/llm/prepare.py
  tests/integration/lmcache_configs/lmcache_cpu.yaml
  tests/integration/lmcache_configs/lmcache_local_storage.yaml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add TestVllmLmcachePerformance_g6 to integration.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Formatting
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add tests for LMCache - functionality and integration tests (#2942)
  .github/workflows/integration.yml
  serving/docker/lmi-container-requirements.txt
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/lmcache_configs/lmcache_cpu.yaml
  tests/integration/lmcache_configs/lmcache_local_storage.yaml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add user guide for lmcache
  serving/docs/lmi/user_guides/lmcache_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add user guide for lmcache (#2943)
  serving/docs/lmi/user_guides/lmcache_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Use s5cmd built with Go 1.25.4 to address CVE
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Use s5cmd built with Go 1.25.4 to address CVE (#2944)
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add option.enable_expert_parallel to MiniMax-M2 test config
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

integrate v0.33 trtllm into master (#2925)
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] run ECR scans in parallel with integration tests
  .github/workflows/nightly.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix aarch64 test
  .github/workflows/integration.yml
  serving/docker/aarch64.Dockerfile
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Updated s5cmd script to build with specified version of go to help automate CVE patching
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update vllm nightly wheel
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update vllm nightly wheel (#2946)
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Updated s5cmd script to build with specified version of go to address related CVEs (#2945)
  serving/docker/scripts/install_s5cmd.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
