Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

Support different Python executables in Neo dispatcher
  serving/docker/partition/sm_neo_dispatcher.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] move toolparsermanager to local imports
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] move toolparsermanager to local imports (#2699)
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] enable full passthrough of engine args
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

enable full passthrough of vllm engine args, with backwards compatibi… (#2639)
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm][lmi] upgrade to vllm 0.7.0, separate lmi-dist and vllm via virtual environments
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-vllm.txt
  serving/docker/scripts/create_virtual_env.sh
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] separate vllm and lmi-dist modes into separate virtual envir… (#2690)
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-vllm.txt
  serving/docker/scripts/create_virtual_env.sh
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Move sm_fml import in AOT script
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Formatter
  serving/docker/partition/sm_neo_dispatcher.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Support different Python executables in Neo dispatcher (#2698)
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] convert nxdi tests to aot compiled
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

AutoFP8 to llmcompressor migration for FP8 quant
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

mn sharding in progress
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] convert nxdi tests to aot compiled (#2700)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

AutoFP8 to llmcompressor migration for FP8 quantization (#2701)
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix venv for neuron vllm
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix venv for neuron vllm (#2702)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix correctness testing for neuronx
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] offload setting block size to neuron
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] offload setting block size to neuron (#2705)
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix correctness testing for neuronx (#2704)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix lmi/vllm virtual envs, update to vllm 0.7.1
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-vllm.txt
  serving/docker/scripts/create_virtual_env.sh
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix lmi/vllm virtual envs, update to vllm 0.7.1 (#2703)
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-vllm.txt
  serving/docker/scripts/create_virtual_env.sh
  tests/integration/llm/client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] increasing timeout for neuron tests
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] increasing timeout for neuron tests (#2706)
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron sdk to 2.21
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_inferentia2.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] pin tokenizers version in neuronx
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Support NxDI with Vllm (#2686)
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove deepspeed related AOT code (#2692)
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] add aot config for nxdi with vllm (#2691)
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove unused get_engine_configs (#2694)
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] convert lcnc test to use tp 2, till the issue is fixed in neuron… (#2696)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] move the default compile path to /tmp/.djl.ai (#2697)
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] convert nxdi tests to aot compiled (#2700)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix correctness testing for neuronx (#2704)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] increasing timeout for neuron tests
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix requirements for virtual envs - do not use common requirements as restrictions for vllm/lmi-dist
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-vllm.txt
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix requirements for virtual envs - do not use common requirements as… (#2708)
  serving/docker/lmi-container-requirements-common.txt
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-vllm.txt
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add back djl converter wheel for text embedding
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[partition] relax tp and pp validations in partition script, use defaults in line with JIT UX
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
