Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[serving] make http response codes configurable for exception cases (#2114)
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Change Neo output file format
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[fix] align default neuron behavior between model server and handler
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] align default neuron behavior between model server and handler (#2116)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] align default neuron behavior between model server and handler (#2116)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update flags
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update DJL to 0.29.0-SNAPSHOT
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

update flags to prevent deprecation (#2118)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Handles Bedrock special url case
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/SignableRequest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update DJL to 0.29.0-SNAPSHOT (#2119)
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Fixes onnxruntime engine installation
  serving/build.gradle.kts
  serving/docker/Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Require tp_degree in Neo Neuron script
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[awscurl] Handles Bedrock special url case (#2120)
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/SignableRequest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes onnxruntime engine installation (#2121)
  serving/build.gradle.kts
  serving/docker/Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherrypick][0.28.0 dlc] fix default behavior for rb in neuron (#2116) (#2117)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes snake case pattern
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes snake case pattern (#2123)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes snake case pattern (#2123)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs]Update DJL-Serving Read Me
  serving/docs/lmi/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Support multi node for lmi-dist
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEngine.java
  engines/python/src/main/java/ai/djl/python/engine/PyEngineProvider.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs]Update DJL-Serving Read Me (#2127)
  serving/docs/lmi/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Review changes
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][hf]remove usage of HF Conversational pipeline as it is deprecated
  engines/python/setup/djl_python/huggingface.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Add properties allowlist validation
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][hf]remove usage of HF Conversational pipeline as it is deprecated (#2124)
  engines/python/setup/djl_python/huggingface.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc] spec decoding cache dirty fix
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fixes snake case pattern (#2123) (#2126)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc] spec decoding cache dirty fix (#2128)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Add unit test for props allowlist
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] make allowlist interface
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Add properties allowlist validation (#2129)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Add properties allowlist validation (#2129)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Add properties allowlist validation (#2129) (#2130)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] add per-model configs to allowlist
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] Update IllegalConfigurationException messages
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] remove HF_MODEL_ID env for lmi_dist_1 test
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] remove HF_MODEL_ID env for lmi_dist_1 test (#2131)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] add per-model configs to allowlist (#2132)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[secure-mode] add per-model configs to allowlist (#2132)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick] [secure-mode] add per-model configs to allowlist (#2132) (#2133)
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeAllowList.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
