Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[multimodal] Support multi-image input for vision language models
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  serving/docs/lmi/user_guides/vision_language_models.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[multimodal] Support multi-image input for vision language models (#2409)
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  serving/docs/lmi/user_guides/vision_language_models.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[TRTLLM] Bump up dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[TRTLLM] Bump up dockerfile (#2412)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[vllm] Support speculative decoding in vllm rolling batch
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] Support speculative decoding in vllm rolling batch (#2413)
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] Fix speculative_model in vllm integration test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] Fix speculative_model in vllm integration test (#2414)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] Validate speculative model config
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm] Validate speculative model config (#2415)
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Bump up DJL version to 0.31.0-SNAPSHOT
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Upgrade to DJL 0.30.0
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[lmi] add stricter payload validation on default schema for rolling-batch use-cases
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add stricter payload validation on default schema for rolling-b… (#2418)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

nxd support
  engines/python/setup/djl_python/inputs.py
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

speculative decoding model load
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[docker] Fixes ImageFactory visualization error
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi-dist][breaking] remove default 4096 token number for prefill - align with vllm default behavior
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  serving/docs/lmi/announcements/breaking_changes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix token lookup when token is null
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix token lookup when token is null (#2421)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes ImageFactory visualization error (#2419)
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] extract rolling batch vllm/lmi-dist/scheduler into separate service class
  engines/python/setup/djl_python/huggingface_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] extract dynamic batch huggingface logic into separate service
  engines/python/setup/djl_python/huggingface_dynamic_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix last token fetch logic
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request_io.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] dynamically select huggingface service based on batching type
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/huggingface_dynamic_batch.py
  engines/python/setup/djl_python/huggingface_rolling_batch.py
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/test_test_model.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix last token fetch logic (#2423)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request_io.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] fix typo in release notes
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] fix typo in release notes (#2424)
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] allow debug logging in python engine
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create serving_publish.yaml
  .github/workflows/serving_publish.yaml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][utils] allow specifying output dir, make allow_patterns easier to work with in local mode
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Rename serving_publish.yaml to serving_publish.yml
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] allow debug logging in python engine (#2425)
  engines/python/setup/djl_python/arg_parser.py
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][utils] allow specifying output dir, make allow_patterns easier t… (#2426)
  tests/integration/llm/download_llm.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add files via upload
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update serving_publish.yml
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update serving_publish.yml
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Serving publish brndyng (#2428)
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update serving_publish.yml
  .github/workflows/serving_publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
