Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[docs] Fix broken links in user guide (#2025)
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docs] Omit response array in text embedding doc
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Omit response array in text embedding doc (#2026)
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add llama-3 lora test
  .github/workflows/llm_integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] improve output schema doc
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add llama-3 lora test (#2027)
  .github/workflows/llm_integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] improve output schema doc (#2028)
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Updates DJL version to 0.29.0-SNAPSHOT
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix a bug in dataset prep
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] fix a bug in dataset prep (#2030)
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add tgi_compat and see details
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Updates DJL version to 0.29.0-SNAPSHOT (#2029)
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] adding release notes for docs.djl.ai
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[test] Fixes java-client test dependency
  tests/java-client/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add new lines
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[test] Fixes java-client test dependency (#2033)
  tests/java-client/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Update typing to support py38
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

example
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Update python typing to support py38 (#2034)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[python] Fixes typing issue with py3.8
  engines/python/setup/djl_python/session_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Fixes typing issue with py3.8 (#2035)
  engines/python/setup/djl_python/session_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Consolidate quantization functionality into partition scripts
  engines/python/setup/djl_python/huggingface.py
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/quantization_properties_manager.py
  serving/docker/partition/quantize.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/run_quantization.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

remove usage of SERVING_LOAD_MODELS and OPTION_MODEL_ID in examples/docs/tests
  .github/workflows/llm_integration.yml
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/test_test_model.py
  serving/docs/lmi/deployment_guide/configurations.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

remove usage of SERVING_LOAD_MODELS in examples/docs/tests (#1825)
  .github/workflows/llm_integration.yml
  engines/python/setup/djl_python/test_model.py
  engines/python/setup/djl_python/tests/test_test_model.py
  serving/docs/lmi/deployment_guide/configurations.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Refactor lmi_dist and vllm to support best_of with RequestOutput (#2011)
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes docker build script for version detection
  .github/workflows/docker-nightly-publish.yml
  serving/docker/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add back missing publish task in gradle
  engines/python/build.gradle.kts
  prometheus/build.gradle.kts
  serving/build.gradle.kts
  wlm/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes docker build script for version detection (#2036)
  .github/workflows/docker-nightly-publish.yml
  serving/docker/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add back missing publish task in gradle (#2037)
  engines/python/build.gradle.kts
  prometheus/build.gradle.kts
  serving/build.gradle.kts
  wlm/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add tgi_compat and see details (#2031)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove unused function
  serving/docker/partition/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Run formatter
  engines/python/setup/djl_python/huggingface.py
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove unused imports
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add docs
  serving/docs/lmi/user_guides/release_notes.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[metrics] Improve prometheus metric type handling
  prometheus/src/main/java/ai/djl/prometheus/PrometheusAppender.java
  prometheus/src/test/java/ai/djl/preometheus/MetricExporterTest.java
  wlm/src/main/java/ai/djl/serving/wlm/BatchAggregator.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[metrics] Improve prometheus metric type handling (#2039)
  prometheus/src/main/java/ai/djl/prometheus/PrometheusAppender.java
  prometheus/src/test/java/ai/djl/preometheus/MetricExporterTest.java
  wlm/src/main/java/ai/djl/serving/wlm/BatchAggregator.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fail ping if error rate exceed
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/RateLimiter.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  serving/src/test/resources/config.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] SSE jsonline document
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Serving] Implement SageMaker Secure Mode
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners
