Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

add checkout back
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix-tag
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

change repo for testing in djl
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove blank lin
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Contrain CI jobs to run on instances created by the same workflow execution
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/download_llm_to_gamma.yml
  .github/workflows/integration.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/multi_node_integration.yml
  .github/workflows/run-max-num-tokens.yml
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix neuron image, disable pytest capture
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add docker credential
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fixing syntax error
  .github/workflows/integration.yml
  .github/workflows/multi_node_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

change env
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix neuron docker tag
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Adding a 4th g6 instance to integ test workflow. time < 3hrs
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Constrain CI jobs to run on instances created by the same workflow exe… (#2627)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/download_llm_to_gamma.yml
  .github/workflows/integration.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/multi_node_integration.yml
  .github/workflows/run-max-num-tokens.yml
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] modify the code for output formatter schema (#2614)
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add back aarch build
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Improve PR template (#2626)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix for PR
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add back docker push
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[feat] Update multimodal lmi-dist/vllm input handling, and add lmi-di… (#2608)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix format
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add the missing tag step
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] pin huggingface-hub to 0.25.1
  serving/docker/deepspeed.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] pin huggingface-hub to 0.25.1 (#2629)
  serving/docker/deepspeed.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

forward port of patch in 0.28.0 that terminates a python worker when model load fails
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when model load fails
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when model load fails
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when … (#2631)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when … (#2632)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when … (#2633)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

reorg
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix region var
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Enable to set custom batchifier
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Enable to set custom batchifier (#2634)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] return prompt from get_prompt_inputs utility method
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] return prompt from get_prompt_inputs utility method (#2635)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test split push
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix the padding_size typo
  engines/python/setup/djl_python/huggingface.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

fix cli
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix the padding_size typo (#2637)
  engines/python/setup/djl_python/huggingface.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

fix syntax + add time
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix syntax error
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
