Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

shift order
  serving/docker/Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

revert back
  serving/docker/Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add nvme support and update model
  .github/workflows/llm_integration.yml
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

best_of support in output formatter (#1992)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update the nvme mount
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update max num tokens workflow, fix multiple bugs
  .github/workflows/run-max-num-tokens.yml
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor lmi_dist and vllm to support RequestOutput
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Convert cuda env tgi variables to lmi
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
Owners: @DeepJavaLibrary/djl-trt-llm-owners

add some more changes
  tests/integration/launch_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docs] fix token format in api schema docs
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] add nvme support and update model (#2010)
  .github/workflows/llm_integration.yml
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update max num tokens workflow, fix multiple bugs (#2012)
  .github/workflows/run-max-num-tokens.yml
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Convert cuda env tgi variables to lmi (#2013)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[lmi][docs] fix token format in api schema docs (#2014)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Convert cuda env tgi variables to lmi (#2013)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker] Remove onnxruntime cpu jar in lmi docker
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Remove onnxruntime cpu jar in lmi docker (#2016)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes duplicated onnx jar file issue
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Fixes duplicated onnx jar file issue (#2017)
  serving/docker/lmi.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Neo Quantization Integration
  serving/docker/partition/quantization_properties_manager.py
  serving/docker/partition/quantize.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs][lmi] update lmi docs in general for 0.28.0 (#2003)
  serving/docker/README.md
  serving/docs/configurations_model.md
  serving/docs/lmi/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/backend-selection.md
  serving/docs/lmi/deployment_guide/configurations.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/instance-type-selection.md
  serving/docs/lmi/tutorials/seq_scheduler_tutorial.md
  serving/docs/lmi/user_guides/README.md
  serving/docs/lmi/user_guides/hf_accelerate.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  serving/docs/streaming_config.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

edit incorrect value: calib_size is 512
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.28.0-dlc][cherry-pick] Convert cuda env tgi variables to lmi (#2013) (#2015)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docs] Update trtllm docs for 0.28.0 (#1990)
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Document about custom output formatter schema
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] custom output formatter schema (#2018)
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use split by '\n' to solve the issue
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] use split by '\n' to solve the issue (#2020)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] use split by '\n' to solve the issue (#2020)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][cherry-pick][CI] use split by '\n' to solve the issue (#2020) (#2021)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add ecr login credentials
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add ecr login credentials (#2019)
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docs] add deepspeed deprecation notice to lmi docs
  serving/docs/lmi/announcements/deepspeed-deprecation.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] Add LMI Text Embedding Inference user guide
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docs] add deepspeed deprecation notice to lmi docs (#2024)
  serving/docs/lmi/announcements/deepspeed-deprecation.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Add neo integration to vllm container
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/partition/quantization_properties_manager.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

Update engines and configuration options
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] Add LMI Text Embedding Inference user guide (#2022)
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Fix broken links in user guide
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners
