Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Reapply "[python][async] adding async tensorrt-llm handler (#2785)" (#2827)
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[trtllm] Change trtllm_version to 0.21.0rc1
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

build: update pytorch version
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Add integration tests for TRTLLM upgrade
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Adjustness correctness scores to match TRTLLM standards
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Modify engine configs for trtllm async handler
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Reapply "[python][async] adding async tensorrt-llm handler (#2785)" (#2827)
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[trtllm] Change trtllm_version to 0.21.0rc1
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[trtllm] Add integration tests for TRTLLM upgrade
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Adjustness correctness scores to match TRTLLM standards
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Modify engine configs for trtllm async handler
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Upgrade TRT-LLM to version 0.21.0rc1 for djl-serving 0.33.0 (#2848)
  engines/python/setup/djl_python/async_utils.py
  engines/python/setup/djl_python/lmi_trtllm/request_response_utils.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/outputs.py
  engines/python/setup/djl_python/properties_manager/trt_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/setup.py
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/lmi.Dockerfile
  serving/docker/partition/trt_llm_partition.py
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[djl] Update djl version to 0.34.0
  gradle/libs.versions.toml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[djl] Temporary changes to accommodate djl version upgrade to 0.34.0
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Remove adding SNAPSHOT suffix to ai.djl.serving
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Remove SNAPSHOT suffix to ai.djl:bom
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Update Pytorch JNI version to 0.33.0
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Change version of onnx dependencies to 0.33.0 as version 0.34.0 is not published yet. Modify when published
  serving/docker/Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Temporary changes for djl-converter version 0.33.0
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Install gradle dependencies for release nightly pipeline
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trtllm] Set djl_version to 0.33.0 for integration tests
  .github/workflows/integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix Gradle dependency issues for TRT-LLM release (#2850)
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update docs references
  engines/python/setup/pyproject.toml
  serving/docker/lmi-container-requirements.txt
  serving/docs/lmi/user_guides/tool_calling.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update lmi's pydantic dependency
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump other vllm dependencies
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

downgrade torch 2.6 and vllm for flashinfer compatibility
  engines/python/setup/pyproject.toml
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
  serving/docs/lmi/user_guides/tool_calling.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Revert "downgrade torch 2.6 and vllm for flashinfer compatibility"
  engines/python/setup/pyproject.toml
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
  serving/docs/lmi/user_guides/tool_calling.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

downgrade torch 2.6 and vllm for flashinfer compatibility
  engines/python/setup/pyproject.toml
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
  serving/docs/lmi/user_guides/tool_calling.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use specific flashinfer whl
  engines/python/setup/pyproject.toml
  serving/docker/lmi-container-requirements.txt
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump other vllm dependencies
  serving/docs/lmi/user_guides/tool_calling.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove now removed vLLM option --enable-reasoning; only reasoning_parser needs to be specified
  engines/python/setup/djl_python/lmi_vllm/vllm_async_service.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update DJL version to 0.34.0
  .github/workflows/optimization_integration.yml
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Update DJL version to 0.34.0 (#2853)
  .github/workflows/optimization_integration.yml
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[serving] Allows user defined priority for each request
  serving/src/main/java/ai/djl/serving/workflow/function/WlmWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/BatchAggregator.java
  wlm/src/main/java/ai/djl/serving/wlm/Job.java
  wlm/src/main/java/ai/djl/serving/wlm/PermanentBatchAggregator.java
  wlm/src/main/java/ai/djl/serving/wlm/TemporaryBatchAggregator.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkLoadManager.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerPool.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
  wlm/src/main/java/ai/djl/serving/wlm/util/WorkerJob.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Allows user defined priority for each request (#2852)
  serving/src/main/java/ai/djl/serving/workflow/function/WlmWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/BatchAggregator.java
  wlm/src/main/java/ai/djl/serving/wlm/Job.java
  wlm/src/main/java/ai/djl/serving/wlm/PermanentBatchAggregator.java
  wlm/src/main/java/ai/djl/serving/wlm/TemporaryBatchAggregator.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkLoadManager.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerPool.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
  wlm/src/main/java/ai/djl/serving/wlm/util/WorkerJob.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fixes broken static mock test code
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fixes broken static mock test code (#2854)
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add handling for abrupt process termination
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add handling for abrupt process termination (#2857)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add handling for abrupt process termination (#2857)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
