Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[test] remove trtllm flan t5 integration test
  .github/workflows/llm_integration.yml
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add unit tests for secure mode plugin with mock env vars
  plugins/secure-mode-plugin/build.gradle.kts
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

re-enable requirements linking
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Require entryPoint to be set to non-null in secure mode.
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix style
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix reconcileSources
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docs] add deepspeed deprecation notice to lmi docs (#2024)
  serving/docs/lmi/announcements/deepspeed-deprecation.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] Add LMI Text Embedding Inference user guide (#2022)
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Fix broken links in user guide (#2025)
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docs] Omit response array in text embedding doc (#2026)
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] improve output schema doc (#2028)
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add tgi_compat and see details (#2031)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] SSE jsonline document (#2041)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Updates embedding user guide (#2047)
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

FIx unit test
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

move mockito-core version to libs.versions.toml
  gradle/libs.versions.toml
  plugins/secure-mode-plugin/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

rename plugin and logger
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/resources/META-INF/plugin.definition
  serving/build.gradle.kts
  settings.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Rename plugin folder and create IllegalConfigurationException wrapper
  plugins/secure-mode/README.md
  plugins/secure-mode/build.gradle.kts
  plugins/secure-mode/gradlew
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/IllegalConfigurationException.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/package-info.java
  plugins/secure-mode/src/main/resources/META-INF/plugin.definition
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/package-info.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix mockito libs version
  gradle/libs.versions.toml
  plugins/secure-mode/build.gradle.kts
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/IllegalConfigurationException.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Address comments
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

validate best_of with greedy
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Simplify code and remove unneeded methods
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update tests
  plugins/secure-mode/build.gradle.kts
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Format
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update Readme
  plugins/secure-mode/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0 dlc][cherry-pick] cherry-pick all doc updates to 0.28.0-dlc (#2053)
  serving/docs/lmi/announcements/deepspeed-deprecation.md
  serving/docs/lmi/user_guides/deepspeed_user_guide.md
  serving/docs/lmi/user_guides/embedding-user-guide.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
  serving/docs/lmi/user_guides/output_formatter_schema.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Refactor quantization to partition.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  serving/docker/partition/partition.py
  serving/docker/partition/properties_manager.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/trt_llm_partition.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Fix autoawq version
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove hanging quantization code in run_partition
  serving/docker/partition/run_partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove flan t5 test from python scripts
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix bug with duplicate models when HF_MODEL_ID points to model store
  serving/src/main/java/ai/djl/serving/ModelServer.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix bug with duplicate models when HF_MODEL_ID points to model store (#2054)
  serving/src/main/java/ai/djl/serving/ModelServer.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix bug with duplicate models when HF_MODEL_ID points to model store (#2054)
  serving/src/main/java/ai/djl/serving/ModelServer.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Scan for model.py during entrypoint check
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format python
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick] fix bug with duplicate models when HF_MODEL_ID points to model store … (#2055)
  serving/src/main/java/ai/djl/serving/ModelServer.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix passing options to HuggingFaceProperties
  serving/docker/partition/partition.py
  serving/docker/partition/run_partition.py
  serving/docker/partition/sm_neo_neuron_partition.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

Load envvars after serving.propertes in partition.
  serving/docker/partition/properties_manager.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Bring splitCommaSeparatedString to trim whitespace
  plugins/secure-mode/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Quantization fixes
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
