Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci][lmi] add pipeline parallel tests to ci workflow
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][lmi] add pipeline parallel tests to ci workflow (#2469)
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][trt] add llama3-1 test for trtllm
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] adding more tnx configs for spec dec
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] neuron speculative decoding support
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[python] add generation config support for neuron
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[python] adding more tnx configs for spec dec
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add minimal requestId logging for new requests, and exceptions/errors
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Upgrade to DJL 0.30.0
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[lmi] avoid creating huggingface model config in rolling batch cases to avoid issues with mistral type models
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update chatglm doc (#2440)
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[fix] neuron unit test aot lcnc test script
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][trt] add llama3-1 test for trtllm
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] neuron unit test aot lcnc test script (#2474)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci][trt] add llama3-1 test for trtllm (#2470)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] avoid creating huggingface model config in rolling batch cases to avoid issues with mistral type models
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] avoid creating huggingface model config in rolling batch cases … (#2473)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] neuron unit test smart default handler and error handling
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[fix] neuron unit test smart default handler and error handling (#2475)
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

cherry-picking some commits from main branch to dlc branch (#2476)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_transformers_neuronx.py
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[serving] Bump up djl and serving version to 0.31.0-snapshot
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][python] Fix backport of rolling batch non-streaming non-200 error code support
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Fix backport of rolling batch non-streaming non-200 error code support (#2478)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Bump up DJL version to 0.31.0-SNAPSHOT
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[serving] Bump up DJL version to 0.31.0-SNAPSHOT (#2416)
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[python] neuron speculative decoding support
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] expose method on RollingBatch to retrieve huggingface model config
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] expose method on RollingBatch to retrieve huggingface model config (#2479)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add minimal requestId logging for new requests, and exceptions/errors
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] expose method on RollingBatch to retrieve huggingface model config (#2479)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add minimal requestId logging for new requests, and exceptions/errors (#2472)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add minimal requestId logging for new requests, and exceptions/errors (#2472)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

0.30.0 dlc - cherry picks (#2480)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Propagate predict output code to batch request output codes in RollingBatch
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Propagate predict output code to batch request output codes in … (#2481)
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][v12] pin lmi version to release nightly wheel
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][v12] pin lmi version to release nightly wheel (#2483)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add t5 integration test for lmi-dist
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add snapshot for nightly and temp builds
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add snapshot for nightly and temp builds (#2484)
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
