Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Remove beta dockerfile for now
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[lora] Support adapter alias header
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update doc
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] upgrade neuron vllm to 0.6.2
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] upgrade neuron vllm to 0.6.2 (#2518)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update integration.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][fix] add fbgemm dep to trt container for meta llama fp8 checkpoints
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker][fix] add fbgemm dep to trt container for meta llama fp8 chec… (#2519)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

add ir-llm benchmark CI workflow
  .github/workflows/ir-llm-benchmark.yml
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-405b-fp8.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-405b-instruct-fp8.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-70b-instruct.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-70b.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-8b-instruct.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-8b.json
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-405b-fp8.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-405b-instruct-fp8.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-70b-instruct.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-70b.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-8b-instruct.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-8b.json
  tests/integration/benchmark/ir-llm/sagemaker/sagemaker-2.227.1.dev0-py3-none-any.whl
  tests/integration/benchmark/ir-llm/sagemaker/sagemaker-2017-07-24.normal.json
  tests/integration/benchmark/ir-llm/scripts/cw_metrics.py
  tests/integration/benchmark/ir-llm/scripts/run_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lora] Support SageMaker adapter header (#2508)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  serving/docs/adapters.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update s3 folder name
  .github/workflows/ir-llm-benchmark.yml
  tests/integration/benchmark/ir-llm/scripts/cw_metrics.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docker] updating lmi docker file dependencies
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update tests.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docker] updating lmi docker file dependencies (#2521)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update documentation to DJL 0.30.0
  README.md
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  engines/python/README.md
  serving/docker/README.md
  serving/docs/lmi/deployment_guide/README.md
  serving/docs/lmi/deployment_guide/deploying-your-endpoint.md
  serving/docs/lmi/deployment_guide/testing-custom-script.md
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_finding_max_num_tokens_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
  wlm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[Neo][Docker] Refactor Neo entrypoint to use dispatcher, introduce Neo sharding script
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/lmi.Dockerfile
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Switching FML wheels to release wheels
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

+validation to block pipeline parallelism with Sharding
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update workflow config
  .github/workflows/sagemaker_llm_benchmark.yml
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
  tests/integration/benchmark/ir-llm/sagemaker/sagemaker-2.227.1.dev0-py3-none-any.whl
  tests/integration/benchmark/ir-llm/sagemaker/sagemaker-2017-07-24.normal.json
  tests/integration/benchmark/ir-llm/scripts/cw_metrics.py
  tests/integration/benchmark/ir-llm/scripts/run_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Linting
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Linting
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Linting
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Introducing SageMaker Fast Model Loader (#2524)
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/lmi.Dockerfile
  serving/docker/partition/sm_neo_dispatcher.py
  serving/docker/partition/sm_neo_shard.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Adding integ test for SM FML
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fixing wheel path for FML
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fixing wheel path for FML
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Updating wheel to py 3.11
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][trt] pack all pip installs into single command to ensure dependencies are accurately resolved
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker][trt] pack all pip installs into single command to ensure dep… (#2528)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[fix] install transformers separately due to issues with trtllm constraints
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci][docker] building vllm 0.6.2 with mllama cherry-pick
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

build tmp vllm 0.6.3.post1 wheel with pt 2.5.1
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

build vllm for python 3.11
  .github/workflows/lmi-dist-deps-build.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update ModelInfo adapters after backend job succeed
  engines/python/setup/djl_python/huggingface.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update unit test
  engines/python/src/test/resources/adaptecho/model.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update vllm and flash infer wheels to py311
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/src/test/resources/adaptecho/model.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
