Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

fix with master branch if come from external repo
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] fix with master branch if come from external repo (#1917)
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[prometheus] Avoid missing class warning (#1916)
  prometheus/build.gradle
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

checkin other branch for benchmark
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

disable
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] checkin other branch for benchmark (#1918)
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

increase benchmark time out time
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update upload artifacts
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix adapaters bug when invalid adapters are passed
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Benchmark] dataset preparation (#1891)
  tests/integration/llm/README.md
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] increase benchmark time out time (#1919)
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

make adapter_registry arg optional and check for empty adapter string
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add text embedding integration test
  .github/workflows/text_embedding_integration.yml
  tests/integration/embedding/client.py
  tests/integration/embedding/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update default for TRTLLM with max_new_tokens
  .github/workflows/instant_benchmark.yml
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

move updating adapter state to outside try-except
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

rename vars
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update for mixtral tokenizer
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

handle None val adapter
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update default for TRTLLM with max_new_tokens (#1922)
  .github/workflows/instant_benchmark.yml
  tests/integration/llm/client.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[BugFix] Fix bug when invalid adapters are passed (#1920)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix a bug in IB
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] fix a bug in IB (#1923)
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add request output dataclasess
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove dict methods
  engines/python/setup/djl_python/request_io.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor tgi compat
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Updates aarch64 docker to use PyTorch 2.2.2
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove looking up env variable
  engines/python/setup/djl_python/properties_manager/properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] inf2 pipeline fix for adapter unsupported
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] inf2 pipeline fix for adapter unsupported (#1927)
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor tgi compat and removed token_id as list (#1924)
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/neuron_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Updates aarch64 docker to use PyTorch 2.2.2 (#1926)
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add request output dataclasses (#1921)
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/generator.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

check for tgi compat model generation
  .github/workflows/lmi-no-code.yml
  tests/integration/llm/tgi_client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[UX] Fix a few code to get closer to TGI UX (#1925)
  .github/workflows/lmi-no-code.yml
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/generator.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx.py
  tests/integration/llm/tgi_client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[fix] mpi mode check in trtllm
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
