Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

fix gradle build
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

formatter
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Add handling for abrupt process termination (#2857) (#2858)
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[WIP][trtllm] Modify Dockerfile for TensorRT-LLM
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[WIP][trtllm] Add async handler
  engines/python/setup/djl_python/lmi_trtllm/request_response_handler.py
  engines/python/setup/djl_python/lmi_trtllm/trtllm_async_service.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[WIP][trtllm] Dockerfile with dependencies for async handler
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[WIP][trtllm] Dockerfile with dependencies for async handler
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] Update maven central publish url and credential
  .github/workflows/serving-publish.yml
  buildSrc/src/main/kotlin/ai/djl/publish.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Update maven central publish url and credential (#2861)
  .github/workflows/serving-publish.yml
  buildSrc/src/main/kotlin/ai/djl/publish.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update oss sonatype snapshot repository url
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  jacoco/build.gradle.kts
  tests/java-client/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update oss sonatype snapshot repository url (#2862)
  buildSrc/src/main/kotlin/ai/djl/javaBase.gradle.kts
  jacoco/build.gradle.kts
  tests/java-client/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove MXNet and TensorRT engine from DJLServing
  README.md
  benchmark/README.md
  benchmark/build.gradle.kts
  benchmark/snapcraft/snapcraft.yaml
  benchmark/src/main/java/ai/djl/benchmark/Arguments.java
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  plugins/kserve/src/main/java/ai/djl/serving/kserve/KServeDescribeModelResponse.java
  plugins/management-console/docs/console_zh.md
  plugins/management-console/webapp/src/view/AddModel.vue
  serving/build.gradle.kts
  serving/docker/aarch64.Dockerfile
  serving/docs/configurations.md
  serving/docs/configurations_model.md
  serving/docs/console.md
  serving/docs/modes.md
  serving/docs/starting.md
  serving/docs/workflows.md
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
  serving/src/main/puml/architecture.puml
  tests/integration/download_models.sh
  tests/integration/tests.py
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove MXNet and TensorRT engine from DJLServing (#2866)
  README.md
  benchmark/README.md
  benchmark/build.gradle.kts
  benchmark/snapcraft/snapcraft.yaml
  benchmark/src/main/java/ai/djl/benchmark/Arguments.java
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  plugins/kserve/src/main/java/ai/djl/serving/kserve/KServeDescribeModelResponse.java
  plugins/management-console/docs/console_zh.md
  plugins/management-console/webapp/src/view/AddModel.vue
  serving/build.gradle.kts
  serving/docker/aarch64.Dockerfile
  serving/docs/configurations.md
  serving/docs/configurations_model.md
  serving/docs/console.md
  serving/docs/modes.md
  serving/docs/starting.md
  serving/docs/workflows.md
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
  serving/src/main/puml/architecture.puml
  tests/integration/download_models.sh
  tests/integration/tests.py
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update snapshot download URL
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add post-publish task
  buildSrc/src/main/kotlin/ai/djl/publish.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add post-publish task (#2864)
  buildSrc/src/main/kotlin/ai/djl/publish.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update snapshot download URL (#2865)
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Pin cuda-compat-12-8 to 570.172.08
  serving/docker/cuda-compat
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Pin cuda-compat-12-8 to 570.172.08 (#2867)
  serving/docker/cuda-compat
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docs] Upgrade DJL version
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  serving/docker/README.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docs] Upgrade DJL version (#2868)
  awscurl/README.md
  benchmark/README.md
  benchmark/snapcraft/snapcraft.yaml
  serving/docker/README.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/src/test/java/ai/djl/serving/plugins/DependencyManagerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Update DJL version to 0.35.0
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update DJL version to 0.35.0 (#2869)
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update gradle to 9.0.0
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/Result.java
  engines/python/src/main/java/ai/djl/python/engine/AsyncRequestManager.java
  engines/python/src/main/java/ai/djl/python/engine/PyEngine.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  gradle/wrapper/gradle-wrapper.properties
  plugins/grpc/src/main/java/ai/djl/serving/grpc/InferenceService.java
  serving/src/main/java/ai/djl/serving/cache/CacheManager.java
  serving/src/main/java/ai/djl/serving/http/ConfigurableHttpRequestHandler.java
  serving/src/main/java/ai/djl/serving/plugins/FolderScanPluginManager.java
  serving/src/main/java/ai/djl/serving/plugins/PluginMetaDataReader.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  tools/conf/pmd.xml
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkLoadManager.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerPoolConfig.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test
  .github/workflows/client-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test
  .github/workflows/client-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test
  .github/workflows/client-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test
  .github/workflows/client-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test
  .github/workflows/client-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix XGBoost model loading
  serving/build.gradle.kts
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix XGBoost model loading (#2872)
  serving/build.gradle.kts
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Add cmake installation to lmi.Dockerfile
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix 0.32.0 build, pyairports dep
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix build for 0.32.0 LMI DLC (#2873)
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Disable neuron build, pin scipy and onnx deps
  .github/workflows/nightly.yml
  serving/docker/lmi-container-requirements.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix install_djl_serving script
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix install_djl_serving script (#2874)
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update gradle to 9.0.0
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/Result.java
  benchmark/build.gradle.kts
  engines/python/src/main/java/ai/djl/python/engine/AsyncRequestManager.java
  engines/python/src/main/java/ai/djl/python/engine/PyEngine.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  gradle/wrapper/gradle-wrapper.properties
  plugins/grpc/src/main/java/ai/djl/serving/grpc/InferenceService.java
  serving/build.gradle.kts
  serving/src/main/java/ai/djl/serving/cache/CacheManager.java
  serving/src/main/java/ai/djl/serving/http/ConfigurableHttpRequestHandler.java
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
  serving/src/main/java/ai/djl/serving/plugins/FolderScanPluginManager.java
  serving/src/main/java/ai/djl/serving/plugins/PluginMetaDataReader.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  tools/conf/pmd.xml
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkLoadManager.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerPoolConfig.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update gradle to 9.0.0 (#2870)
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/main/java/ai/djl/awscurl/Result.java
  benchmark/build.gradle.kts
  engines/python/src/main/java/ai/djl/python/engine/AsyncRequestManager.java
  engines/python/src/main/java/ai/djl/python/engine/PyEngine.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  gradle/wrapper/gradle-wrapper.properties
  plugins/grpc/src/main/java/ai/djl/serving/grpc/InferenceService.java
  serving/build.gradle.kts
  serving/src/main/java/ai/djl/serving/cache/CacheManager.java
  serving/src/main/java/ai/djl/serving/http/ConfigurableHttpRequestHandler.java
  serving/src/main/java/ai/djl/serving/plugins/DependencyManager.java
  serving/src/main/java/ai/djl/serving/plugins/FolderScanPluginManager.java
  serving/src/main/java/ai/djl/serving/plugins/PluginMetaDataReader.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  tools/conf/pmd.xml
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkLoadManager.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerPoolConfig.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Remove pytorch-inf2 image build
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/docker_publish.yml
  .github/workflows/nightly.yml
  serving/docker/docker-compose.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
