Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

pin numpy to <2 in ci/docker
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmic_performance.yml
  .github/workflows/rolling_batch_integration.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pin numpy to <2 in ci/docker (#2074)
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  .github/workflows/rolling_batch_integration.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Add SM_NEO_HF_CACHE and SM_NEO_DEPLOYMENT_INSTANCE envvars
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Neo] Fix outputted tp_degree in Neo quantization
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Remove deployment_instance_type envvar
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Neo] Fix Neo Quantization properties output. Add some additional configuration. (#2077)
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Neo] Fix Neo Quantization properties output. Add some additional configuration. (#2077)
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

pin numpy to <2 in ci/docker (#2075)
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmic_performance.yml
  .github/workflows/rolling_batch_integration.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[aot] Fix aot quantization for weight only quantization
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[aot] Fix aot quantization for weight only quantization (#2079)
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[aot] Fix aot quantization for weight only quantization (#2079)
  serving/docker/partition/partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] Supports forwarding environment variables
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix pinning of numpy version in docker files by reinstalling specified version last
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix pinning of numpy version in docker files by reinstalling specified version last
  serving/docker/deepspeed.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix pinning of numpy version in docker files by reinstalling specified version last
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix pinning of numpy version in docker files by reinstalling specified version last
  serving/docker/deepspeed.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix pinning of numpy version in docker files by reinstalling specifie… (#2083)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix pinning of numpy version in docker files by reinstalling specifie… (#2084)
  serving/docker/deepspeed.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix pinning of numpy version in docker files by reinstalling specifie… (#2085)
  serving/docker/deepspeed.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[Neo] Fix Neo Quantization properties output. Add some additional configuration. (#2077)
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

pin numpy to <2 in ci/docker (#2071)
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0 dlc][cherry-pick] AOT fix and pin numpy (#2086)
  .github/workflows/continuous.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-dist-deps-build.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  engines/python/setup/setup.py
  engines/python/src/test/resources/accumulate/requirements.txt
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
  serving/docker/partition/sm_neo_utils.py
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/scripts/install_python.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[IB] Supports forwarding environment variables (#2081)
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

codeql for python
  .github/workflows/codeql-analysis-java.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Hard-code engine in Neo TNX entrypoint
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners

codeql for python (#2087)
  .github/workflows/codeql-analysis-java.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Remove reference to target instance
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] LLM Integration Tests through pytest suite
  .github/workflows/llm_integration.yml
  serving/docker/scripts/docker_name_builder.sh
  tests/integration/.gitignore
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] LLM Integration Tests through pytest suite (#2023)
  .github/workflows/llm_integration.yml
  serving/docker/scripts/docker_name_builder.sh
  tests/integration/.gitignore
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Record telemetry including acceptance rate
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/sm_log_filter.py
  engines/python/setup/djl_python/telemetry.py
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] test remote non-main branch workflow trigger
  .github/workflows/remote_workflow.yml
  .github/workflows/remote_workflow_two.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Fix post autoAwq cleanup
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Fix post autoAwq cleanup (#2089)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

numpy and falcon triton compiled artifacts
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/prepare.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] refactor rolling batch inference method
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[CI] Inferentia tests through pytest
  .github/workflows/client-test.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  tests/integration/test_client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] refactor rolling batch inference method (#2090)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] move parse input functions to input_parser.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  engines/python/setup/djl_python/transformers_neuronx.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[Neuron] Fix neuron_cc_wrapper, neuron_cache logs
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Record telemetry including acceptance rate (#2088)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/sm_log_filter.py
  engines/python/setup/djl_python/telemetry.py
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
