Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

Update tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[python] remove huggingface load and save for tnx
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[docker] Update dependencies in dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Set properties for Lora
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove huggingface load and save for tnx (#2499)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Update tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Update tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker] Update dependencies in dockerfile (#2500)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[Neo] Update CI test files for Neo CI Tests (#2503)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add on_device_embedding=True to save and load preshareded weights
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

format python
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[lora] Support pin adapter API
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/src/test/resources/adaptecho/model.py
  engines/python/src/test/resources/adaptecho/serving.properties
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
  wlm/src/main/java/ai/djl/serving/wlm/util/EventManager.java
  wlm/src/main/java/ai/djl/serving/wlm/util/ModelServerListener.java
  wlm/src/main/java/ai/djl/serving/wlm/util/ModelServerListenerAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Merge text embedding test to integration test
  .github/workflows/integration.yml
  .github/workflows/text_embedding_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update
  engines/python/setup/djl_python/huggingface.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add on_device_embedding=True to save and load preshareded weights (#2504)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] Merge text embedding test to integration test (#2505)
  .github/workflows/integration.yml
  .github/workflows/text_embedding_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

test
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Support pin adapter API (#2456)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/src/test/resources/adaptecho/model.py
  engines/python/src/test/resources/adaptecho/serving.properties
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/main/java/ai/djl/serving/util/NettyUtils.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
  wlm/src/main/java/ai/djl/serving/wlm/util/EventManager.java
  wlm/src/main/java/ai/djl/serving/wlm/util/ModelServerListener.java
  wlm/src/main/java/ai/djl/serving/wlm/util/ModelServerListenerAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix workflow close order
  serving/src/main/java/ai/djl/serving/workflow/Workflow.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove legacy partition for neuron
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Use lmi-dist nightly wheel
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove legacy partition for neuron (#2510)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Use lmi-dist 13.0.0 nightly wheel (#2509)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] enable rolling batch auto as default
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format python
  engines/python/setup/djl_python/properties_manager/properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix lmi pip installs
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix lmi pip installs (#2512)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Set properties for Lora (#2501)
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix workflow close order (#2507)
  serving/src/main/java/ai/djl/serving/workflow/Workflow.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update dockerfile dependencies and env variables
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update docker dependencies and env variables (#2513)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix cuda compat in trt docker file, add batch constraint to t5 test to ensure test passes
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/prepare.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Add more OOM handling
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Add more OOM handling (#2515)
  engines/python/setup/djl_python_engine.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[fix] fix cuda compat in trt docker file, add batch constraint to t5 … (#2514)
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/prepare.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[TRTLLM] [Docs] Update trtllm docs to v12
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[TRTLLM] [Docs] Upgrade trtllm docs to v12
  serving/docker/tensorrt-llm-beta.Dockerfile
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
Owners: @DeepJavaLibrary/djl-trt-llm-owners
