Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[lmi] add t5 integration test for lmi-dist (#2482)
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add t5 integration test for lmi-dist (#2482)
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] add t5 integration test for lmi-dist (#2482) (#2485)
  .github/workflows/integration.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add adapter config jobs to job queue
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix typo in t5 integration test
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][v12] pin lmi version to release nightly wheel (#2483)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix typo in t5 integration test (#2487)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix typo in t5 integration test (#2487)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix typo in t5 integration test (#2487) (#2489)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add adapter config jobs to job queue (#2471)
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
  wlm/src/main/java/ai/djl/serving/wlm/WorkerThread.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] neuron speculative decoding support (#2465)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][v12] pin lmi version to release nightly wheel (#2483) (#2488)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Support pin adapter API
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/src/test/resources/adaptecho/model.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/workflow/function/AdapterWorkflowFunction.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
  wlm/src/main/java/ai/djl/serving/wlm/PyAdapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Propagate RollingBatch predict output code to request outputs
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Propagate RollingBatch predict output code to request outputs (#2490)
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix typo in fuse_qkv
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

minor fix and add is_last_token assert
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add test case for first token last token bug
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

format python
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix typo in fuse_qkv (#2491)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[fix] fix speculative decoding draft model param name in test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix speculative decoding draft model param name in test (#2493)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix speculative decoding draft model param name in test (#2493)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix speculative decoding draft model param name in test (#2493) (#2494)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Propagate RollingBatch predict output code to request outputs (#2490)
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Propagate RollingBatch predict output code to request outputs (… (#2495)
  engines/python/src/main/java/ai/djl/python/engine/RollingBatch.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] add integration test for spec-dec vllm
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add test case for first token last token bug (#2460)
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][v12][docs] update lmi documentation for v12
  serving/docs/configurations_model.md
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/conceptual_guide/lmi_engine.md
  serving/docs/lmi/tutorials/seq_scheduler_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/hf_accelerate.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vision_language_models.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][v12][docs] update lmi documentation for v12 (#2496)
  serving/docs/configurations_model.md
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/conceptual_guide/lmi_engine.md
  serving/docs/lmi/tutorials/seq_scheduler_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/chat_input_output_schema.md
  serving/docs/lmi/user_guides/hf_accelerate.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vision_language_models.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[ci] Increase text embedding integration timeout
  .github/workflows/text_embedding_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Increase text embedding integration timeout (#2497)
  .github/workflows/text_embedding_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Update docker-nightly-publish.yml
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update tensorrt-llm-beta.Dockerfile
  serving/docker/tensorrt-llm-beta.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Update docker-compose.yml
  serving/docker/docker-compose.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update docker-nightly-publish.yml
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update docker-nightly-publish.yml
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update docker-nightly-publish.yml
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
