Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[0.31.0-dlc] Log adapter name in inference (#2594)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Log adapter name in inference
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Log adapter name in inference (#2595)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update config to activate test cases
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[0.31.0-dlc] Fix lora integration test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Fix lora integration test
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] Fix lora integration test (#2596)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Fix lora integration test (#2598)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

enable instruct models test cases
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Enable llama instruct models test cases in benchmark testing (#2599)
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[0.31.0-dlc] Fix parsing adapters list in inference request
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] Fix parsing adapters list in inference request (#2600)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Fix parsing adapters list in inference request
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] Parse adapters iff enable_lora is true
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add neuron release notes and update user guide doc (#2588)
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[lora] Fix parsing adapters list in inference request (#2602)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] Parse adapters iff enable_lora is true (#2601)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Improve logging for exec shell command
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Improve logging for exec shell command (#2569)
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Parse adapters iff enable_lora is true
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update LoRA adapter doc
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][lmi] reduce number of layers by consolidating some commands (#2591)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add neuron release notes and update user guide doc (#2588)
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[cherry-pick][doc] add neuron release notes and update user guide doc (#2588) (#2605)
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[python] add rolling batch as auto for neuron smart default
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  tests/integration/llm/client.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] making rolling batch default as auto
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[feat] Update multimodal lmi-dist/vllm input handling, and add lmi-dist mllama integration test
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

formatPython
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] cleanup t5 trtllm python backend code
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update LoRA adapter doc (#2604)
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Parse adapters iff enable_lora is true (#2603)
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/properties_manager/properties.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

adjust workflow and aws timeout and region
  .github/workflows/sagemaker_llm_benchmark.yml
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

fix typo
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lora] Add adapter parsing unit test
  engines/python/setup/djl_python/tests/test_input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix LMI_DIST_GENERATION_PARAMS
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fixed sagemaker_llm_benchmark workflow configuration (#2611)
  .github/workflows/sagemaker_llm_benchmark.yml
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lora] Add adapter parsing unit test (#2610)
  engines/python/setup/djl_python/tests/test_input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron sdk packages to 2.20.2
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] bump neuron sdk packages to 2.20.2 (#2612)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
