Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[python] fix output token texts calculation (#2259)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] update beam search parameters in io schema
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix beam search garbage issue
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Increase TRTLLM int test timeout
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Add models in embedding integration test
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix beam search garbage issue (#2260)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] update beam search parameters in io schema (#2261)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Update integration test scripts for Neo (#2245)
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update tnx docs to current
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] Update neuron tests to mirror observed mistral/mixtral support
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Update tnx docs to current (#2262)
  serving/docs/lmi/tutorials/tnx_aot_tutorial.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] Update neuron tests to mirror observed mistral/mixtral support (#2263)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix mismatch tokens error
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix dir issue
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix the test case
  .github/workflows/lmi-no-code.yml
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix TRTLLM partition issue (#2264)
  .github/workflows/lmi-no-code.yml
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix mismatch tokens error (#2265)
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora testing to fail on finish reason error
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora testing to fail on error response code (#2266)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix dynamic batch input parse
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix neuron rb test failure
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix neuron rb test failure (#2267)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix dynamic batch input parse
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora test failures
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora test failures
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] fix dynamic batch input parse (#2269)
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix lora test failures (#2270)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix auto awq integration test failure
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix auto awq integration test failure (#2271)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Accept autofp8 `BaseQuantizeConfig` in neo script
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update Phi LCNC config
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update Phi LCNC config (#2273)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo][vllm] FP8 Quantization support for partition & Neo (#2272)
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
  serving/docker/partition/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[neo] fix default quantization
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] FP8 quantization fix (#2274)
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use s3 url for stability
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] use s3 url for stability (#2275)
  .github/workflows/lmi-no-code.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add annotation for output formatter (#2249)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/service_loader.py
  engines/python/setup/djl_python_engine.py
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix correctness testing pipeline (#2246)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[AWSCurl] fix the logic on content parsing (#2243)
  awscurl/src/main/java/ai/djl/awscurl/HttpClient.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
