Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

fix check style issue
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Upgrade pytorch to 2.2.2
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[CherryPick][0.27.0] add TGI compat feature for rollingbatch (#1866) (#1880)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  wlm/src/test/java/ai/djl/serving/wlm/ModelInfoTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

allow appending for token
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix bug
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] fix: check if read-only Neuron cache is s3url before copying
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

remove redundant pipeline and adding retry to most of the docker run jobs
  .github/workflows/instant_benchmark.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  .github/workflows/rolling_batch_integration.yml
  tests/integration/remove_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[RollingBatch] allow appending for token (#1885)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Stop the model server when model download fails (#1842)
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][0.27.0-dlc] Stop the model server when model download fails (#1842) (#1890)
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

dataset preparation
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

apply format
  tests/integration/llm/dataset_prep.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix for 0
  tests/integration/remove_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] remove redundant pipeline and adding retry (#1887)
  .github/workflows/instant_benchmark.yml
  .github/workflows/llm_integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-no-code.yml
  .github/workflows/lmic_performance.yml
  .github/workflows/rolling_batch_integration.yml
  tests/integration/remove_container.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[RollingBatch] remove pending requests (#1884)
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add benchmark instruction
  tests/integration/llm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor huggingface handler
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_service.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.27.0-DLC][patch] Patches security issue in 0.27.0 DJL lib
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create dummy_script.py
  tests/integration/llm/dummy_script.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.27.0-DLC][patch] Patches security issue in 0.27.0 DJL lib (#1892)
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update dummy_script.py
  tests/integration/llm/dummy_script.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run-max-num-tokens.yml
  .github/workflows/run-max-num-tokens.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] Default to generation.config generation settings, support multiple eos tokens from config
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

Update run_max_num_tokens.py
  tests/integration/llm/run_max_num_tokens.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Allows override stream parameter for dataset
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[awscurl] Allows override stream parameter for dataset (#1895)
  awscurl/src/main/java/ai/djl/awscurl/AwsCurl.java
  awscurl/src/test/java/ai/djl/awscurl/AwsCurlTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tnx] Default to generation.config generation settings (#1894)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

remove engine from the settings
  tests/integration/benchmark/nightly/g5-12xl.txt
  tests/integration/benchmark/nightly/g5-2xl.txt
  tests/integration/benchmark/nightly/g5-48xl.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update benchmark tokenizer
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor huggingface and rolling batch handlers
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_service.py
  engines/python/setup/djl_python/rolling_batch/scheduler_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch/fake_rolling_batch.py
  engines/python/setup/djl_python/tests/test_test_model.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Doc] Update LoRA docs
  serving/docs/adapters.md
  serving/docs/lmi/README.md
  serving/docs/lmi/conceptual_guide/lmi_engine.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
