Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[docker] Update DJL pytorch to 2.5.1
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add ir-llm benchmark workflow (#2520)
  .github/workflows/sagemaker_llm_benchmark.yml
  tests/integration/benchmark/ir-llm/README.md
  tests/integration/benchmark/ir-llm/config/lmi-dist/config.yml
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-405b-fp8.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-405b-instruct-fp8.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-70b-instruct.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-70b.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-8b-instruct.json
  tests/integration/benchmark/ir-llm/config/lmi-dist/config_ir_job/benchmark_config_passive_Llama-3-1-8b.json
  tests/integration/benchmark/ir-llm/config/trtllm/config.yml
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-405b-fp8.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-405b-instruct-fp8.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-70b-instruct.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-70b.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-8b-instruct.json
  tests/integration/benchmark/ir-llm/config/trtllm/config_ir_job/benchmark_config_Llama-3-1-8b.json
  tests/integration/benchmark/ir-llm/scripts/cw_metrics.py
  tests/integration/benchmark/ir-llm/scripts/run_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] Update DJL pytorch to 2.5.1 (#2555)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add lora configs and validation
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add lora configs and validation (#2554)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update neo sharding script to use load_model_for_sharding
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update neo sharding script to use load_model_for_sharding (#2556)
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][lmi] update back to lmi nightly wheel
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][lmi] update back to lmi nightly wheel (#2557)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] specify guaranteed_no_evict batch_scheduler_policy to get t5 working with in flight batching
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] specify guaranteed_no_evict batch_scheduler_policy to get t… (#2558)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove which doesn't exist any more
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

neo shard script: remove `del engine` as engine doesn't exist any more (#2559)
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][python] remove quantization enum and rely on engine validation/support
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][python] remove quantization enum and rely on engine validation/… (#2561)
  engines/python/setup/djl_python/properties_manager/hf_properties.py
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][docs] update lmi documentation for v12 containers
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][docs] update lmi documentation for v12 containers (#2560)
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][docs] update lmi documentation for v12 containers (#2560)
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lmi][docs] update lmi documentation for v12 containers (#2560) (#2562)
  serving/docs/lmi/README.md
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/tutorials/trtllm_aot_tutorial.md
  serving/docs/lmi/tutorials/trtllm_manual_convert_tutorial.md
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/starting-guide.md
  serving/docs/lmi/user_guides/trt_llm_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[python] Update output default error message
  engines/python/setup/djl_python/outputs.py
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Update output default error message (#2564)
  engines/python/setup/djl_python/outputs.py
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] lookup s3 artifacts instead of training it runtime
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[sm][docker] use the correct verified cuda version in docker file
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[sm][docker] use the correct verified cuda version in docker file (#2565)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update torch to 2.5.1 in docker
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lora] Add tests in multi LoRA integration test
  serving/docs/adapters.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add tests in lora integration test (#2563)
  serving/docs/adapters.md
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add adapter OOM unit tests
  engines/python/src/test/resources/adaptecho/model.py
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Fix predict missing adapter response code
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add adapter OOM unit tests (#2568)
  engines/python/src/test/resources/adaptecho/model.py
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Fix predict adapter missing error code (#2570)
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] download s3 files
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[test] fix transformers neuronx integration test failure (#2539)
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

remove sagemaker_llm_benchmark.yml
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove sagemaker_llm_benchmark.yml (#2571)
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.30.0-dlc] upgrade neuron vllm to 0.6.2
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.30.0-dlc] upgrade neuron vllm to 0.6.2 (#2572)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[test] fix transformers neuronx integration test failure (#2539)
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[cherry-pick][0.30.0-dlc][test] fix transformers neuronx integration test failure (#2539) (#2573)
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_tnx_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

add workflow sagemaker_llm_benchmark back
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
