Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

enable
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add adapter in request
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add tiny-llama-lora-fml
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Increase gpu_memory_utilization of lmi-dist engine in sharding jobs
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Generate serving.properties file during sharding jobs
  serving/docker/partition/sm_neo_shard.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[lora] Add load option to LoRA adapter API (#2536)
  engines/python/setup/djl_python/huggingface.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add load option to API doc
  serving/docs/adapters_api.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docs/adapters_api.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Add load option to API doc (#2544)
  serving/docs/adapters_api.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

refactor lmi, neuron, and trt dockerfiles to install python requirements from requirements file
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/requirements-lmi.txt
  serving/docker/requirements-neuron.txt
  serving/docker/requirements-trt.txt
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners, @DeepJavaLibrary/djl-trt-llm-owners

[neo] Support option.gpu_memory_utilization for sharding jobs
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Support option.enforce_eager for sharding jobs
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update README.md
  tests/integration/benchmark/ir-llm/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] don't short-circuit continuous pr check if 1 job in the matrix fails
  .github/workflows/continuous.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add max_num_seqs & max_model_len
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Generate serving.properties file during sharding jobs (#2545)
  serving/docker/partition/sm_neo_shard.py
  serving/docker/partition/sm_neo_trt_llm_partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[neo] Allow setting GPU memory-related LMI options in sharding jobs (#2546)
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] don't shor-circuit continuous pr check if 1 job in the matrix fails (#2548)
  .github/workflows/continuous.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Fix sharding script bug
  serving/docker/README.md
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Fix sharding script bug (#2549)
  serving/docker/README.md
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving][rolling-batch] avoid transfer chunked encoding with non-streaming rolling batch requests
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix typo
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] fix cuda version label for lmi container
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[docker] fix cuda version label for lmi container (#2551)
  serving/docker/lmi.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[trt][docker] pin trt version to release version, not nightly
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

add lora config for neo sharding
  serving/docker/partition/sm_neo_shard.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove extra formatting
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[trt][docker] pin trt version to release version, not nightly (#2553)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Create a single shareable ClusterRequestHandler for all channels to prevent ssh-keygen race conditions. Add unit tests for the ClusterRequestHandler.
  serving/build.gradle.kts
  serving/src/main/java/ai/djl/serving/ServerInitializer.java
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  serving/src/test/java/ai/djl/serving/http/ClusterRequestHandlerTest.java
  serving/src/test/java/ai/djl/serving/http/package-info.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create a single shareable ClusterRequestHandler for all channels to prevent ssh-keygen race conditions. Add unit tests for the ClusterRequestHandler (#2547)
  serving/build.gradle.kts
  serving/src/main/java/ai/djl/serving/ServerInitializer.java
  serving/src/main/java/ai/djl/serving/http/ClusterRequestHandler.java
  serving/src/test/java/ai/djl/serving/http/ClusterRequestHandlerTest.java
  serving/src/test/java/ai/djl/serving/http/package-info.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving][rolling-batch] avoid transfer chunked encoding with non-str… (#2550)
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

only add lora config for neo shard script when enable lora = true
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

improve style
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

improve style
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

improve style
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

improve style
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix max_cpu_loras type
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add Lora config to arg list in Neo sharding script& its integ test change (#2552)
  serving/docker/partition/sm_neo_shard.py
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
