Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

add workflow sagemaker_llm_benchmark back
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add workflow sagemaker_llm_benchmark back (#2574)
  .github/workflows/sagemaker_llm_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add on_device_embedding=True to save and load preshareded weights (#2504)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[python] remove legacy partition for neuron (#2510)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.30.0 dlc][cherry-pick] legacy partition removal and add on_device_embedding true (#2575)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[docker] Update torch to 2.5.1 in docker (#2566)
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update neuron artifacts to 2.20.1
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update neuron artifacts to 2.20.1 (#2577)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Bump DJL version to 0.32.0-SNAPSHOT
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[fix][ci] specify guaranteed_no_evict batch_scheduler_policy to get t… (#2558)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] specify guaranteed_no_evict batch_scheduler_policy to get t… (#2558)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Bump DJL version to 0.32.0-SNAPSHOT (#2578)
  gradle/libs.versions.toml
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[cherry-pick][fix][ci] specify guaranteed_no_evict batch_scheduler_policy to get t… (#2580)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][fix][ci] specify guaranteed_no_evict batch_scheduler_policy to get t… (#2579)
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update neuron artifacts to 2.20.1 (#2577)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update neuron artifacts to 2.20.1 (#2577)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update neuron artifacts to 2.20.1 (#2577) (#2582)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] update neuron artifacts to 2.20.1 (#2577) (#2581)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] validate inputs field is of type string for request
  engines/python/setup/djl_python/input_parser.py
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create sheteng-test.yml for test
  .github/workflows/sheteng-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] validate inputs field is of type string for request (#2583)
  engines/python/setup/djl_python/input_parser.py
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi] validate inputs field is of type string for request (#2583)
  engines/python/setup/djl_python/input_parser.py
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick][lmi] validate inputs field is of type string for request (#2583) (#2585)
  engines/python/setup/djl_python/input_parser.py
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] remove huggingface load and save for tnx (#2499)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[python] remove huggingface load and save for tnx (#2499) (#2586)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[doc] add neuron release notes and update user guide doc
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[docker] refactor install_djl_serving script so that it only needs to be run once
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] refactor lmi dockerfile. organize layers based on likelihood to change, and use requirements file for pip installs
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Refactor LMI dockerfile (#2576)
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] add neuron release notes and update user guide doc
  serving/docs/lmi/announcements/breaking_changes.md
  serving/docs/lmi/user_guides/release_notes.md
  serving/docs/lmi/user_guides/tnx_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

Refactor LMI dockerfile (#2576)
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] fix typo in install_djl_serving script
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] fix typo in install_djl_serving script (#2590)
  serving/docker/scripts/install_djl_serving.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][lmi] reduce number of layers by consolidating some commands
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix input request adapter parsing
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] [fix] Fix input request adapter parsing
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] [fix] Fix input request adapter parsing (#2593)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix input request adapter parsing (#2592)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc] Log adapter name in inference
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
