Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[python] cleanup t5 trtllm python backend code (#2609)
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiUtils.java
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] improve docker image build instructions
  serving/docker/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] add rolling batch as auto for neuron smart default (#2606)
  engines/python/setup/djl_python/neuron_utils/neuron_smart_default_utils.py
  tests/integration/llm/client.py
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] making rolling batch default as auto (#2607)
  engines/python/setup/djl_python/properties_manager/properties.py
  engines/python/setup/djl_python/tests/test_properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] modify the code for output formatter schema
  serving/docs/lmi/user_guides/output_formatter_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Updates onnxruntime to 1.20.1 and add integration tests
  serving/docker/lmi.Dockerfile
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] check whether config has enable_lora attribute
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python][fix] check whether config has enable_lora attribute (#2616)
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] publish staging and snapshot repository to maven
  .github/workflows/serving-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] improve docker image build instructions (#2613)
  serving/docker/README.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Correct enforce_eager default for LMI sharding
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[neo] Correct enforce_eager default for LMI sharding (#2618)
  serving/docker/partition/sm_neo_shard.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[console] update vue to >3.0 for security issue
  plugins/management-console/webapp/package.json
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Updates onnxruntime to 1.20.0 and add integration tests (#2615)
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix typo in requirements-lmi.txt
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix typo in requirements-lmi.txt (#2620)
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] Update adapters.md
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc][doc] Update adapters.md
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update load option to preload
  engines/python/setup/djl_python/huggingface.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] Update adapters.md (#2621)
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc][doc] Update adapters.md (#2622)
  serving/docs/adapters.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update load option to preload
  engines/python/setup/djl_python/huggingface.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lora] Update load option to preload (#2623)
  engines/python/setup/djl_python/huggingface.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.31.0-dlc][lora] Update load option to preload (#2624)
  engines/python/setup/djl_python/huggingface.py
  serving/docs/adapters_api.md
  serving/src/main/java/ai/djl/serving/http/AdapterManagementRequestHandler.java
  serving/src/main/java/ai/djl/serving/http/DescribeAdapterResponse.java
  serving/src/main/java/ai/djl/serving/http/list/ListAdaptersResponse.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  wlm/src/main/java/ai/djl/serving/wlm/Adapter.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Add djl_converter wheel to requirements-lmi.txt
  serving/docker/lmi.Dockerfile
  serving/docker/requirements-lmi.txt
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add instruction to run the test
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add mode in tag
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove push for testing
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

comment out something doesn't work for fork
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use my iam role
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add condition to push
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix push condition
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix role
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

make everything push to ECR
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix repo name
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remov ecreate runner
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add call integration workflow
  .github/workflows/docker-nightly-publish.yml
  .github/workflows/integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use my repo
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
