Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Add comment
  wlm/src/main/java/ai/djl/serving/wlm/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[doc] SSE jsonline document (#2041)
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Fail ping if error rate exceed (#2040)
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/RateLimiter.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
  serving/src/test/resources/config.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Revert some changes
  engines/python/src/main/java/ai/djl/python/engine/PyModel.java
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

Change SageMaker platform env var prefix
  wlm/src/main/java/ai/djl/serving/wlm/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use a file to pass to the output
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

remove a dumps
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Create empty securemode plugin
  plugins/secure-mode-plugin/README.md
  plugins/secure-mode-plugin/build.gradle.kts
  plugins/secure-mode-plugin/gradlew
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeHandler.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/package-info.java
  plugins/secure-mode-plugin/src/main/resources/META-INF/plugin.definition
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

add some more massaging on the output
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

single dump
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] use a file to pass to the output (#2044)
  .github/workflows/instant_benchmark.yml
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

write template into file system
  .github/workflows/instant_benchmark.yml
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

quick test
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

show folder structure
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

get to the file
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

upload with instance filter
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix the location issue
  .github/workflows/instant_benchmark.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] write template into file system (#2045)
  .github/workflows/instant_benchmark.yml
  tests/integration/instant_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Throw ModelException for security checks
  wlm/src/main/java/ai/djl/serving/wlm/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Temp comment out requirements linking
  wlm/src/main/java/ai/djl/serving/wlm/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix errors
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Update plugin. Move secure mode out of wlm
  plugins/secure-mode-plugin/build.gradle.kts
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeHandler.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/main/resources/META-INF/plugin.definition
  settings.gradle.kts
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Test plugin
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

support suzuka model
  tests/integration/record_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use container split
  tests/integration/record_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Updates embedding user guide
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Update default max worker to 1 for GPU
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Update default max worker to 1 for GPU (#2048)
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.28.0-dlc][lmi] Update lmi-dist to 10.0.1
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix plugin build & style
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/package-info.java
  serving/build.gradle.kts
  settings.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix benchmark deb build
  benchmark/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[IB] support suzuka model (#2046)
  tests/integration/record_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

update dockerfile
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[partition] Fix model loading bug for .bin files
  serving/docker/partition/properties_manager.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo] Fix autoawq version in LMI container. Remove unused quantize entrypoint
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/lmi.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Initial add validate security to plugin
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModePlugin.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/package-info.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docs] Updates embedding user guide (#2047)
  serving/docs/lmi/user_guides/embedding-user-guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

trim security controls
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeModelServerListener.java
  plugins/secure-mode-plugin/src/main/java/ai/djl/serving/plugins/securemode/SecureModeUtils.java
  plugins/secure-mode-plugin/src/test/java/ai/djl/serving/plugins/securemode/SecureModePluginTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix benchmark deb build (#2050)
  benchmark/build.gradle.kts
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[vllm, lmi-dist] add support for top_n_tokens
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request_io.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/djl_python/tests/rolling_batch_test_scripts/test_rb_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
