Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

add spec decoding multiple tokens generation unit tests
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[unittest] add spec decoding multiple tokens generation unit tests (#2373)
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Update vllm rolling batcher sampling params for 0.6.0 support
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Update vllm rolling batcher sampling params for 0.6.0 support (#2376)
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][neuron] Version bumps for vllm 0.6.0
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fixing smart defaults and model compilation for upcoming versions
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/NeuronSmartDefaultUtils.java
  wlm/src/test/java/ai/djl/serving/wlm/NeuronSmartDefaultUtilsTest.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker][neuron] Version bumps for vllm 0.6.0 (#2379)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  serving/docker/pytorch-inf2.Dockerfile
  wlm/src/main/java/ai/djl/serving/wlm/LmiConfigRecommender.java
  wlm/src/main/java/ai/djl/serving/wlm/NeuronSmartDefaultUtils.java
  wlm/src/test/java/ai/djl/serving/wlm/NeuronSmartDefaultUtilsTest.java
Owners: @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] only use sequence iterators for generating outputs in stre… (#2372)
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] check whether last token is generated for json_output_formatter (#2375)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] check whether last token is generated for json_output_formatter (#2375)
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[unittest] add spec decoding multiple tokens generation unit tests (#2373)
  engines/python/setup/djl_python/tests/test_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] only use sequence iterators for generating outputs in stre… (#2372)
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] check whether last token is generated for json_output_format… (#2381)
  engines/python/setup/djl_python/output_formatter.py
  engines/python/setup/djl_python/request.py
  engines/python/setup/djl_python/tests/test_rolling_batch.py
  engines/python/setup/djl_python/utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo][vLLM] Accept quant options for awq, fp8
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo][vLLM] Accept quant options for awq, fp8
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo][vLLM] Accept quant options for awq, fp8 (#2382)
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neo][vLLM] Accept quant options for awq, fp8 (#2382)
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates gradle to 8.10.1
  gradle/wrapper/gradle-wrapper.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[cherry-pick] [Neo][vLLM] Accept quant options for awq, fp8 (#2382) (#2384)
  serving/docker/partition/partition.py
  serving/docker/partition/sm_neo_quantize.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Adds grpc plugin
  buildSrc/src/main/kotlin/ai/djl/javaFormatter.gradle.kts
  gradle/libs.versions.toml
  jacoco/build.gradle.kts
  plugins/grpc/build.gradle.kts
  plugins/grpc/src/main/java/ai/djl/serving/grpc/GrpcClient.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/GrpcInterceptor.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/GrpcServerImpl.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/InferenceService.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/package-info.java
  plugins/grpc/src/main/proto/inference.proto
  plugins/grpc/src/test/java/ai/djl/serving/grpc/GrpcTest.java
  plugins/grpc/src/test/java/ai/djl/serving/grpc/package-info.java
  prometheus/README.md
  serving/src/main/java/ai/djl/serving/GrpcServer.java
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/main/java/ai/djl/serving/http/Session.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  settings.gradle.kts
  tools/conf/findbugs-exclude.xml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Updates dependencies version to latest
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Adds grpc plugin (#2388)
  buildSrc/src/main/kotlin/ai/djl/javaFormatter.gradle.kts
  gradle/libs.versions.toml
  jacoco/build.gradle.kts
  plugins/grpc/build.gradle.kts
  plugins/grpc/src/main/java/ai/djl/serving/grpc/GrpcClient.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/GrpcInterceptor.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/GrpcServerImpl.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/InferenceService.java
  plugins/grpc/src/main/java/ai/djl/serving/grpc/package-info.java
  plugins/grpc/src/main/proto/inference.proto
  plugins/grpc/src/test/java/ai/djl/serving/grpc/GrpcTest.java
  plugins/grpc/src/test/java/ai/djl/serving/grpc/package-info.java
  prometheus/README.md
  serving/src/main/java/ai/djl/serving/GrpcServer.java
  serving/src/main/java/ai/djl/serving/ModelServer.java
  serving/src/main/java/ai/djl/serving/http/Session.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  settings.gradle.kts
  tools/conf/findbugs-exclude.xml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] Updates dependencies version to latest (#2361)
  gradle/libs.versions.toml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] NxD inital support in DJLServing
  engines/python/setup/djl_python/neuron_utils/NxDLoader.py
  engines/python/setup/djl_python/neuron_utils/model_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
Owners: @DeepJavaLibrary/djl-neuron-owners

nxd error
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[docker] Update vllm to 0.5.5
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi][tests] specify jsonquery for awscurl when using chat completions response type
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Updates gradle to 8.10.1 (#2386)
  gradle/wrapper/gradle-wrapper.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix minor errors in model loading
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
  engines/python/setup/djl_python/neuron_utils/utils.py
  engines/python/setup/djl_python/properties_manager/tnx_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @DeepJavaLibrary/djl-neuron-owners

fix minor errors in path
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

fix minor errors in load path
  engines/python/setup/djl_python/neuron_utils/nxd_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[fix][lmi][tests] specify jsonquery for awscurl when using chat compl… (#2390)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] Update vllm to 0.5.5 (#2391)
  serving/docker/lmi.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] awq test script update
  tests/integration/launch_container.sh
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi][tests] specify jsonquery for awscurl when using chat compl… (#2390)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][lmi] validate token exists in streaming output formatters to handle chunked_prefill correctly
  engines/python/setup/djl_python/output_formatter.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump up transformers version for llama 3.1 support
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

add use_vllm option
  engines/python/setup/djl_python/properties_manager/vllm_rb_properties.py
  engines/python/setup/djl_python/transformers_neuronx.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-neuron-owners

[fix][lmi][tests] specify jsonquery for awscurl when using chat compl… (#2392)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Fix null pointer for empty output tokens
  engines/python/setup/djl_python/request_io.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
