Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners

[0.28.0-dlc] Record telemetry including acceptance rate
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/sm_log_filter.py
  engines/python/setup/djl_python/telemetry.py
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[Neuron] Fix Neuron compilation logging (#2095)
  engines/python/setup/djl_python/neuron_utils/model_loader.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[0.28.0-dlc] Record telemetry including acceptance rate (#2094)
  engines/python/setup/djl_python/properties_manager/lmi_dist_rb_properties.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/sm_log_filter.py
  engines/python/setup/djl_python/telemetry.py
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

bump up trtllm to 0.10.0 (#2043)
  serving/docker/tensorrt-llm.Dockerfile
  tests/integration/llm/prepare.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix nightly wheel pip installs
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix ground truth for neuron unit test
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] fix ground truth for neuron unit test (#2097)
  engines/python/setup/djl_python/tests/neuron_test_scripts/test_neuron_vllm_rolling_batch.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[Neo, Neuron] Pass-through engine, entryPoint
  serving/docker/partition/sm_neo_neuron_partition.py
Owners: @DeepJavaLibrary/djl-neuron-owners

[ci] fix nightly wheel pip installs (#2096)
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix trtllm nightly wheel pip installs
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] fix trtllm nightly wheel pip installs (#2098)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

Multi-node initial support
  engines/python/setup/djl_python_engine.py
  engines/python/src/main/java/ai/djl/python/engine/Connection.java
  engines/python/src/main/java/ai/djl/python/engine/PyEnv.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
  serving/docker/partition/trt_llm_partition.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

[ci] fix pinning numpy inf2 error
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] fix pinning numpy inf2 error (#2101)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Set tokenizer on output_formatter for TRT-LLM Handlers
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] add trtllm chat test
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Fix
  .github/workflows/client-test.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Inferentia tests through pytest (#2091)
  .github/workflows/client-test.yml
  .github/workflows/llm_inf2_integration.yml
  .github/workflows/llm_integration.yml
  tests/integration/test_client.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Set tokenizer on output_formatter for TRT-LLM Handlers (#2100)
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[fix] Set tokenizer on output_formatter for TRT-LLM Handlers (#2100)
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.28.0-dlc][cherry-pick][fix] Set tokenizer on output_formatter for TRT-LLM Handlers (#2100) (#2103)
  engines/python/setup/djl_python/tensorrt_llm.py
  engines/python/setup/djl_python/tensorrt_llm_python.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] add trtllm chat test (#2102)
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[dockerfile] pin datasets to 2.19.1 in trtllm
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[dockerfile] pin datasets to 2.19.1 in trtllm (#2104)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[dockerfile] pin datasets to 2.19.1 in trtllm (#2104)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.27.0-dlc] pin datasets version in tensorrt llm
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.26.0-dlc] pin datasets version in tensorrt llm
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.28.0-dlc][cherry-pick][dockerfile] pin datasets to 2.19.1 in trtllm (#2104) (#2105)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[ci] Fix gpt2 integ test failure
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] Integration tests through pytest
  .github/workflows/integration.yml
  .github/workflows/llm_integration.yml
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Fix gpt2 integ test failure (#2108)
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix telemetry tracking for Speculative Decoding
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[0.26.0-dlc] pin datasets version in tensorrt llm (#2107)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.27.0-dlc] pin datasets version in tensorrt llm (#2106)
  serving/docker/tensorrt-llm.Dockerfile
Owners: @DeepJavaLibrary/djl-trt-llm-owners

[0.28.0] fix telemetry tracking for Speculative Decoding (#2110)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

fix bugs
  .github/workflows/llm_integration.yml
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[CI] fix bugs (#2111)
  .github/workflows/llm_integration.yml
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] introduce interface to customize http response status returned during inference
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/main/java/ai/djl/serving/util/DefaultHttpResponseStatusMapper.java
  serving/src/main/java/ai/djl/serving/util/HttpResponseStatusMapper.java
  serving/src/main/java/ai/djl/serving/util/HttpResponseStatusMapperProvider.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[serving] make http response codes configurable for exception cases
  serving/src/main/java/ai/djl/serving/http/InferenceRequestHandler.java
  serving/src/main/java/ai/djl/serving/util/ConfigManager.java
  serving/src/test/java/ai/djl/serving/ModelServerTest.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin
