Repository deepjavalibrary/djl-serving, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

[ci] migrate correctness tests to standard nightly pipeline
  .github/workflows/correctness.yml
  .github/workflows/integration.yml
  .github/workflows/multi_node_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] migrate multi-node + correctness tests to nightly pipeline (#2662)
  .github/workflows/correctness.yml
  .github/workflows/integration.yml
  .github/workflows/multi_node_integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][test] ensure EchoTranslator.processInput does not return null
  serving/src/test/java/ai/djl/serving/translator/EchoTranslator.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][test] ensure EchoTranslator.processInput does not return null (#2664)
  serving/src/test/java/ai/djl/serving/translator/EchoTranslator.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] disable scheduled runs of correctness tests since they are moved to integ tests
  .github/workflows/correctness.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix seq scheduler legacy cache format
  engines/python/setup/djl_python/seq_scheduler/lm_block.py
  engines/python/setup/djl_python/tests/test_scheduler_bloom.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] Fix seq scheduler legacy cache format (#2665)
  engines/python/setup/djl_python/seq_scheduler/lm_block.py
  engines/python/setup/djl_python/tests/test_scheduler_bloom.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] disable scheduled runs of correctness tests since they are moved… (#2663)
  .github/workflows/correctness.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][doc] minor updates to lmi-dist/vllm quantization docs
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] migrate p4d lcnc tests to integ test nightly pipeline
  .github/workflows/integration.yml
  .github/workflows/llm_integration_p4d.yml
  .github/workflows/lmi-no-code.yml
  tests/integration/llm/client.py
  tests/integration/llm/prepare.py
  tests/integration/tests.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][doc] minor updates to lmi-dist/vllm quantization docs (#2666)
  serving/docs/lmi/user_guides/lmi-dist_user_guide.md
  serving/docs/lmi/user_guides/vllm_user_guide.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Use vllm chat object
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Use vllm chat object
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  engines/python/setup/djl_python/chat_completions/chat_properties.py
  engines/python/setup/djl_python/chat_completions/chat_utils.py
  engines/python/setup/djl_python/chat_completions/vllm_chat_properties.py
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/input_parser.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Update
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/setup.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

pass all mm_data from parsed chat to request input
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

use max_tokens instead of max_new_tokens in test chat client
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Add use_vllm_chat_completions()
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python] Use vllm chat object (#2659)
  engines/python/setup/djl_python/chat_completions/vllm_chat_properties.py
  engines/python/setup/djl_python/chat_completions/vllm_chat_utils.py
  engines/python/setup/djl_python/input_parser.py
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/rolling_batch_vllm_utils.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  engines/python/setup/setup.py
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

Making s5cmd discoverable in PATH during buildtime and runtime
  serving/docker/Dockerfile
  serving/docker/aarch64.Dockerfile
  serving/docker/lmi.Dockerfile
  serving/docker/pytorch-gpu.Dockerfile
  serving/docker/pytorch-inf2.Dockerfile
  serving/docker/scripts/install_s5cmd.sh
  serving/docker/tensorrt-llm.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners

Adding Nsight system as a profiling tool that can be installed at runtime
  TROUBLESHOOTING.md
  serving/docker/dockerd-entrypoint-with-cuda-compat.sh
  serving/docker/dockerd-entrypoint.sh
  serving/docker/scripts/install_debug_tools.sh
  serving/docker/scripts/install_nsys.sh
  serving/docker/scripts/start_debug_tools.sh
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin, @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners

benchmark container on EC2
  tests/integration/benchmark/llmperf/README.md
  tests/integration/benchmark/llmperf/config/config_tgi.yml
  tests/integration/benchmark/llmperf/config/config_vllm.yml
  tests/integration/benchmark/llmperf/scripts/run_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

lint format
  tests/integration/benchmark/llmperf/scripts/run_benchmark.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] pin tokenizers version in neuronx
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] pin tokenizers version in neuronx
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when … (#2633)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Upgrade gradle to 8.12
  awscurl/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[patch][port] forward port of SERVING_HEALTH_CHECK_OVERRIDE from 0.28.0
  serving/src/main/java/ai/djl/serving/models/ModelManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[patch][port] forward port of SERVING_HEALTH_CHECK_OVERRIDE from 0.28.0 (#2673)
  serving/src/main/java/ai/djl/serving/models/ModelManager.java
  wlm/src/main/java/ai/djl/serving/wlm/ModelInfo.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tests] remove memory usage check in tests since all engines allocate maximum memory possible
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix] fix issue with awscli install on gh hosted runners
  .github/workflows/docker-nightly-publish.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[ci] Upgrade gradle to 8.12 (#2671)
  awscurl/build.gradle.kts
  gradle/wrapper/gradle-wrapper.properties
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[docker] pin tokenizers version in neuronx (#2669)
  serving/docker/pytorch-inf2.Dockerfile
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[tests] remove memory usage check in tests since all engines allocate… (#2674)
  tests/integration/llm/client.py
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

forward port of patch in 0.28.0 that terminates a python worker when … (#2670)
  engines/python/src/main/java/ai/djl/python/engine/PyPredictor.java
  engines/python/src/main/java/ai/djl/python/engine/PyProcess.java
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][vllm] do not require do_sample to enable sampling
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[lmi][vllm] do not require do_sample to enable sampling (#2676)
  engines/python/setup/djl_python/rolling_batch/lmi_dist_rolling_batch.py
  engines/python/setup/djl_python/rolling_batch/vllm_rolling_batch.py
  serving/docs/lmi/user_guides/lmi_input_output_schema.md
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python]remove keys to check param dict
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[python]remove keys to check param dict (#2677)
  engines/python/setup/djl_python/rolling_batch/trtllm_rolling_batch.py
  engines/python/setup/djl_python/transformers_neuronx_scheduler/slot.py
  engines/python/setup/djl_python/utils.py
Owners: @DeepJavaLibrary/djl-trt-llm-owners, @DeepJavaLibrary/djl-neuron-owners, @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

[fix][ci] install awscli via pip due to issues with using apt
  .github/workflows/docker_publish.yml
  .github/workflows/integration.yml
Owners: @zachgk, @frankfliu, @DeepJavaLibrary/djl-admin

.github/CODEOWNERS:

# Global Owners
* @zachgk @frankfliu @DeepJavaLibrary/djl-admin

# TRT-LLM & Neuron Owners
**/*tensorrt*   @DeepJavaLibrary/djl-trt-llm-owners
**/*trt*        @DeepJavaLibrary/djl-trt-llm-owners
serving/docker/dockerd-entrypoint-with-cuda-compat.sh   @DeepJavaLibrary/djl-trt-llm-owners

**/*neuron*     @DeepJavaLibrary/djl-neuron-owners
**/*tnx*        @DeepJavaLibrary/djl-neuron-owners
serving/docker/dockerd-entrypoint.sh    @DeepJavaLibrary/djl-neuron-owners

serving/docker/partition/*utils*    @DeepJavaLibrary/djl-trt-llm-owners @DeepJavaLibrary/djl-neuron-owners
